Repository J41RO/MeStore: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat(auth): LoginForm production-ready con validación completa
  frontend/frontend/backup/OTPVerification.tsx.backup.1755027560
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/auth/index.ts
  frontend/tsconfig.json
Due: frontend

feat(auth): LoginForm production-ready con tests completos
  frontend/src/components/__tests__/LoginForm.test.tsx
Due: none

feat(auth): RegisterForm colombiano completo + corrección exports
  .workspace/context/todo.md
  frontend/src/components/auth/RegisterForm.tsx
  frontend/src/components/auth/index.ts
Due: frontend

fix(testing): Corregir tests RegisterForm + scripts package.json
  frontend/package.json.backup-20250812_163930
  frontend/src/components/__tests__/RegisterForm.test.tsx
  frontend/verify.sh.backup-20250812_164525
Due: none

fix(testing): Jest Configuration - TypeScript ESM Support
  .workspace/context/session_summary.md
  .workspace/context/todo.md
  .workspace/scripts/pattern_extractor.py
  frontend/jest
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/__tests__/RegisterForm.test.tsx
  frontend/src/components/__tests__/RegisterForm.test.tsx.corrupted
  frontend/src/components/__tests__/test_minimal.test.tsx
  frontend/src/components/auth/RegisterForm.tsx
  jest.config.cjs
Due: frontend

feat(auth): OTPVerification Component - SMS Verification Complete
  .workspace/context/todo.md
  frontend/frontend/backup/OTPVerification.tsx.backup.1755105836
  frontend/frontend/backup/OTPVerification.tsx.backup.1755105838
  frontend/frontend/backup/OTPVerification.tsx.backup.1755105955
  frontend/frontend/backup/OTPVerification.tsx.backup.1755105956
  frontend/frontend/backup/OTPVerification.tsx.backup.1755106270
  frontend/frontend/backup/OTPVerification.tsx.backup.1755106272
  frontend/src/components/__tests__/OTPVerification.test.tsx
  frontend/src/components/auth/OTPVerification.tsx.emergency-backup
  frontend/tsconfig.json
Due: frontend

feat(landing): VendorLanding Complete - Attractive Landing Page for Sellers
  frontend/src/App.tsx
  frontend/src/components/__tests__/ForgotPassword.test.tsx
  frontend/src/components/__tests__/ResetPassword.test.tsx
  frontend/src/components/auth/ForgotPassword.tsx
  frontend/src/components/auth/ResetPassword.tsx
  frontend/src/pages/VendorLanding.tsx
  frontend/src/pages/VendorLanding.tsx.broken-backup
  frontend/src/pages/__tests__/VendorLanding.test.tsx
  frontend/src/stores/appStore.ts
Due: frontend

feat(landing): VendorLanding Complete + 98.8% Test Coverage
  frontend/src/stores/appStore.ts
  frontend/src/test/setup.ts
Due: frontend

feat(landing): VendorLanding Complete - Perfect Implementation
  .workspace/context/todo.md
Due: none

feat(dashboard): DashboardLayout con sidebar y header - Implementación completa
  frontend/frontend/backup/OTPVerification.tsx.backup.1755105836
  frontend/frontend/backup/OTPVerification.tsx.backup.1755105838
  frontend/frontend/backup/OTPVerification.tsx.backup.1755105955
  frontend/frontend/backup/OTPVerification.tsx.backup.1755105956
  frontend/frontend/backup/OTPVerification.tsx.backup.1755106270
  frontend/frontend/backup/OTPVerification.tsx.backup.1755106272
  frontend/src/App.tsx
  frontend/src/components/DashboardLayout.md
  frontend/src/components/DashboardLayout.tsx
  frontend/src/components/__tests__/DashboardLayout.test.tsx
  src/components/DashboardLayout.tsx
Due: frontend

feat: Complete KPI dashboard implementation with tests fixed
  frontend/src/components/__tests__/OTPVerification.test.tsx
  frontend/src/contexts/UserContext.tsx
  frontend/src/pages/Dashboard.tsx
Due: frontend

feat(dashboard): Implementar gráficos de ventas con Recharts
  .workspace/context/todo.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/__tests__/OTPVerification.test.tsx.backup.1755156963
  frontend/src/components/charts/MonthlySalesChart.tsx
  frontend/src/components/charts/SalesChart.tsx
  frontend/src/components/charts/__tests__/MonthlySalesChart.test.tsx
  frontend/src/components/charts/__tests__/SalesChart.test.tsx
  frontend/src/contexts/UserContext.tsx.backup.1755156500
  frontend/src/hooks/useVendor.ts.backup.1755154871
  frontend/src/hooks/useVendor.ts.backup.1755155000
  frontend/src/hooks/useVendor.ts.backup.manual.1755153702
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/__tests__/Dashboard.test.tsx
  frontend/src/types/user.types.ts.backup.manual.1755154151
Due: frontend

feat(ui): Top Products Widget with Thumbnails Implementation
  frontend/src/components/widgets/ProductCard.tsx
  frontend/src/components/widgets/TopProductsWidget.tsx
  frontend/src/components/widgets/__tests__/ProductCard.test.tsx
  frontend/src/components/widgets/__tests__/TopProductsWidget.test.tsx
  frontend/src/hooks/useVendor.ts.backup.manual.1755192453
  frontend/src/pages/Dashboard.tsx.backup.manual.1755193460
  frontend/src/types/Product.ts
Due: frontend

feat(alerts): Sistema de Alertas de Stock Bajo y Productos Sin Movimiento
  .workspace/context/todo.md
  app/api/v1/__init__.py
  app/api/v1/endpoints/alerts.py
  app/models/product.py
  app/schemas/alerts.py
  tests/test_alerts.py
Due: backend

feat: [QUICKACTIONS] - Implementación completa de QuickActions para Dashboard
  .workspace/context/todo.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AddProductModal.tsx
  frontend/src/components/ComisionesModal.tsx
  frontend/src/components/QuickActions.tsx
  frontend/src/components/SoporteModal.tsx
  frontend/src/components/__tests__/QuickActions.test.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Dashboard.tsx.backup.1755231569
  frontend/src/pages/__tests__/Dashboard.test.tsx
  frontend/src/pages/__tests__/Dashboard.test.tsx.backup.1755232718
Due: frontend

feat(ui): Quick Actions Dashboard - UX Enhancement
  frontend/src/stores/appStore.ts
Due: frontend

fix(config): Jest/Vite Compatibility - Critical Configuration Repair
  .workspace/context/todo.md
  frontend/jest.config.cjs
  frontend/src/stores/appStore.ts
  frontend/src/utils/env.ts
Due: frontend

feat: ProductList completo con tabla paginada y filtros avanzados
  frontend/frontend/backup/ProductTable.tsx.backup.1755272062
  frontend/frontend/backup/Productos.tsx.backup.1755273057
  frontend/frontend/backup/Productos.tsx.backup.1755273151
  frontend/frontend/backup/Productos.tsx.backup.1755273253
  frontend/frontend/backup/useProductList.ts.backup.1755273407
  frontend/src/components/products/ProductFilters.tsx
  frontend/src/components/products/ProductTable.tsx
  frontend/src/components/products/__tests__/ProductFilters.test.tsx
  frontend/src/components/products/__tests__/ProductTable.test.tsx
  frontend/src/hooks/useProductList.ts
  frontend/src/pages/__tests__/Productos.test.tsx
  frontend/src/services/api.ts
  frontend/src/types/api.types.ts
Due: frontend

fix: Corrección crítica de errores TypeScript en ProductForm
  frontend/frontend/backup/ProductForm.tsx.backup.1755327954
  frontend/frontend/backup/ProductTable.tsx.backup.1755272062
  frontend/src/components/AddProductModal.tsx
  frontend/src/components/EditProductModal.tsx
  frontend/src/components/__tests__/QuickActions.test.tsx.backup-1755326643
  frontend/src/components/__tests__/QuickActions.test.tsx.backup-strategy-1755326719
  frontend/src/components/forms/ProductForm.tsx
  frontend/src/pages/Productos.tsx
  frontend/src/schemas/productSchema.ts
  frontend/src/services/apiClient.ts
  frontend/src/types/api.types.ts
Due: frontend

feat(products): Add specific fields (SKU, category, dimensions, weight)
  frontend/frontend/backup/Productos.tsx.backup.1755273057
  frontend/frontend/backup/Productos.tsx.backup.1755273151
  frontend/frontend/backup/api.types.ts.backup.1755359519
  frontend/frontend/backup/api.types.ts.backup.1755359665
  frontend/src/components/forms/ProductForm.tsx
  frontend/src/components/widgets/ProductCard.tsx
  frontend/src/schemas/productSchema.ts
  frontend/src/types/Product.ts
Due: frontend

feat(products): Create ProductCard component for grid/list views
  .workspace/context/todo.md
  frontend/frontend/backup/OTPVerification.test.tsx.backup.1755367434
  frontend/frontend/backup/ProductCard.test.tsx.backup.1755365528
  frontend/frontend/backup/ProductCard.test.tsx.backup.1755366755
  frontend/frontend/backup/ProductCard.tsx.backup.1755366685
  frontend/frontend/backup/ProductForm.tsx.backup.1755327954
  frontend/frontend/backup/Productos.tsx.backup.1755364923
  frontend/frontend/backup/api.types.ts.backup.1755359519
  frontend/frontend/backup/api.types.ts.backup.1755359665
  frontend/frontend/backup/useProductList.ts.backup.1755273407
  frontend/src/components/products/ProductCard.tsx
  frontend/src/components/products/__tests__/ProductCard.test.tsx
  frontend/src/pages/Productos.tsx
Due: frontend

feat(frontend): ProductDetailModal Implementation - Complete Modal System
  frontend/=
  frontend/frontend/backup/OTPVerification.test.tsx.backup.1755367434
  frontend/frontend/backup/ProductCard.test.tsx.backup.1755365528
  frontend/frontend/backup/ProductCard.test.tsx.backup.1755366755
  frontend/frontend/backup/ProductCard.tsx.backup.1755366685
  frontend/frontend/backup/Productos.tsx.backup.1755364923
  frontend/src/components/ProductDetailModal.tsx
  frontend/src/components/products/ProductCard.tsx
  frontend/src/components/products/__tests__/ProductDetailModal.test.tsx
  frontend/src/pages/Productos.tsx
Due: frontend

feat: BULK ACTIONS END-TO-END - Funcionalidad masiva de productos completada
  .workspace/context/todo.md
  .workspace/scripts/delimiter_analyzer.py
  .workspace/scripts/surgical_modifier_ultimate.py
  app/api/v1/__init__.py
  app/api/v1/endpoints/products_bulk.py
  frontend/bulk_functions_replacement.txt
  frontend/frontend/backup/Productos.tsx.backup.1755450186
  frontend/frontend/backup/Productos.tsx.backup.1755458908
  frontend/frontend/backup/Productos.tsx.backup.1755458937
  frontend/frontend/backup/Productos.tsx.backup.1755459023
  frontend/frontend/backup/Productos.tsx.backup.1755459036
  frontend/frontend/backup/Productos.tsx.backup.1755459320
  frontend/new_bulk_functions.txt
  frontend/src/components/products/BulkActions.tsx
  frontend/src/components/products/ProductTable.tsx
  frontend/src/components/products/__tests__/BulkActions.test.tsx
  frontend/src/pages/Productos.tsx
  frontend/src/pages/Productos.tsx.broken-backup
  frontend/src/pages/Productos.tsx.clean_backup_1755453569
  frontend/src/pages/__tests__/Productos.test.tsx
  frontend/src/services/productBulkService.ts
  frontend/temp_productos_update.tsx
  tests/test_products_bulk_endpoints.py
  tests/test_products_bulk_simple.py
Due: backend, frontend

feat: BULK ACTIONS END-TO-END COMPLETO - Funcionalidad masiva productos 100% operativa
  .workspace/context/todo.md
  frontend/src/pages/Productos.tsx
  frontend/temp_fix.tsx
Due: frontend

fix: corregir tests OTPVerification - 338/338 tests pasando
  frontend/frontend/backup/Productos.tsx.backup.1755450186
  frontend/frontend/backup/Productos.tsx.backup.1755458908
  frontend/frontend/backup/Productos.tsx.backup.1755458937
  frontend/frontend/backup/Productos.tsx.backup.1755459023
  frontend/frontend/backup/Productos.tsx.backup.1755459036
  frontend/frontend/backup/Productos.tsx.backup.1755459320
Due: none

checkpoint: estado inicial antes de expandir constructor avanzado
  .workspace/laboratorio/universal-code-modifier/README.md
  .workspace/laboratorio/universal-code-modifier/requirements.txt
  .workspace/laboratorio/universal-code-modifier/universal_modifier.py
Due: none

feat(frontend): ImageUpload component optimization completed with advanced features
  frontend/frontend/backup/ImageUpload.test.tsx.backup.1755574284
  frontend/frontend/backup/ImageUpload.test.tsx.backup.1755574477
  frontend/frontend/backup/ImageUpload.tsx.backup.1755573792
  frontend/frontend/backup/ImageUpload.tsx.backup.1755573821
  frontend/frontend/backup/OTPVerification.test.tsx.backup.1755574858
  frontend/src/App.tsx
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/ui/ImageUpload/ImageUpload.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/TestImageUpload.tsx
  frontend/vite.config.ts
Due: frontend

feat(frontend): ImageGallery component implementation completed with full testing
  .workspace/context/todo.md
  frontend/src/components/ui/ImageGallery/ImageGallery.tsx
  frontend/src/components/ui/ImageGallery/ImageGallery.types.ts
  frontend/src/components/ui/ImageGallery/__tests__/ImageGallery.test.tsx
  frontend/src/components/ui/ImageGallery/index.ts
  frontend/src/components/ui/index.ts
  frontend/src/pages/TestImageGallery.tsx
Due: frontend

feat(image-crop): Implement React Image Crop functionality with modal interface
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/ImageCrop/ImageCrop.tsx
  frontend/src/components/ui/ImageCrop/ImageCrop.types.ts
  frontend/src/components/ui/ImageCrop/index.ts
  frontend/src/components/ui/ImageUpload/ImageUpload.tsx
  frontend/src/components/ui/ImageUpload/ImageUpload.types.ts
Due: frontend

feat(inventory): Complete InventoryTable implementation with filters and hooks
  frontend/src/App.tsx
  frontend/src/components/ui/InventoryTable/InventoryTable.tsx
  frontend/src/components/ui/InventoryTable/InventoryTableWithFilters.tsx
  frontend/src/hooks/useInventory.ts
  frontend/src/pages/TestInventory.tsx
  frontend/src/types/inventory.types.ts
Due: frontend

feat(cli): prepare for v6.0 CLI enhancement implementation
  .workspace/surgical_modifier/README.md
  .workspace/surgical_modifier/TODO.md
  .workspace/surgical_modifier/__init__.py
  .workspace/surgical_modifier/__main__.py
  .workspace/surgical_modifier/analytics/__init__.py
  .workspace/surgical_modifier/cli.py
  .workspace/surgical_modifier/core/__init__.py
  .workspace/surgical_modifier/core/backup/__init__.py
  .workspace/surgical_modifier/core/collaboration/__init__.py
  .workspace/surgical_modifier/core/intelligence/__init__.py
  .workspace/surgical_modifier/core/operations/__init__.py
  .workspace/surgical_modifier/core/operations/advanced/__init__.py
  .workspace/surgical_modifier/core/operations/basic/__init__.py
  .workspace/surgical_modifier/core/operations/revolutionary/__init__.py
  .workspace/surgical_modifier/core/testing/__init__.py
  .workspace/surgical_modifier/core/validators/__init__.py
  .workspace/surgical_modifier/integrations/__init__.py
  .workspace/surgical_modifier/plugins/__init__.py
  .workspace/surgical_modifier/plugins/example_plugin.py
  .workspace/surgical_modifier/pyproject.toml
  .workspace/surgical_modifier/requirements-dev.txt
  .workspace/surgical_modifier/requirements-future.txt
  .workspace/surgical_modifier/requirements.txt
  .workspace/surgical_modifier/setup.py
  .workspace/surgical_modifier/tests/__init__.py
  .workspace/surgical_modifier/utils/__init__.py
  .workspace/surgical_modifier/utils/logger.py
  .workspace/surgical_modifier/utils/path_resolver.py
  .workspace/surgical_modifier/utils/plugin_system.py
Due: none

feat(cli): 🎉 SURGICAL MODIFIER v6.0 CLI SYSTEM COMPLETE
  .workspace/surgical_modifier/__main__.py
  .workspace/surgical_modifier/cli.py
  .workspace/surgical_modifier/core/__init__.py
  .workspace/surgical_modifier/core/argument_parser.py
  .workspace/surgical_modifier/core/operations_registry.py
  .workspace/surgical_modifier/tests/test_cli_integration.py
Due: none

feat(path-resolver): Enhanced Global Path Resolver v6.0 with intelligent features
  .workspace/surgical_modifier/tests/test_enhanced_logging.py
  .workspace/surgical_modifier/tests/test_enhanced_path_resolver.py
  .workspace/surgical_modifier/utils/__init__.py
  .workspace/surgical_modifier/utils/diff_visualizer.py
  .workspace/surgical_modifier/utils/file_finder.py
  .workspace/surgical_modifier/utils/logger.py
  .workspace/surgical_modifier/utils/logger_broken.py
  .workspace/surgical_modifier/utils/logger_old.py
  .workspace/surgical_modifier/utils/path_resolver.py
  .workspace/surgical_modifier/utils/progress_manager.py
Due: none

feat(operations): Complete CREATE operations migration v6.0 with full functionality
  .workspace/surgical_modifier/core/operations/__init__.py
  .workspace/surgical_modifier/core/operations/base_operation.py
  .workspace/surgical_modifier/core/operations/basic/__init__.py
  .workspace/surgical_modifier/core/operations/basic/after.py
  .workspace/surgical_modifier/core/operations/basic/append.py
  .workspace/surgical_modifier/core/operations/basic/before.py
  .workspace/surgical_modifier/core/operations/basic/create.py
  .workspace/surgical_modifier/core/operations/basic/create.py.backup.duplicated
  .workspace/surgical_modifier/core/operations/basic/replace.py
  .workspace/surgical_modifier/core/operations_registry.py.backup.broken
  .workspace/surgical_modifier/core/operations_registry_enhancement.py
  .workspace/surgical_modifier/tests/test_advanced_operations_micro_phase_3.py
  .workspace/surgical_modifier/tests/test_content_handler_problematic_cases.py
  .workspace/surgical_modifier/tests/test_core_operations_micro_phase_2.py
  .workspace/surgical_modifier/tests/test_operations_micro_phase_1_integrated.py
  .workspace/surgical_modifier/tests/test_project_context_all_frameworks.py
  .workspace/surgical_modifier/utils/__init__.py
  .workspace/surgical_modifier/utils/content_handler.py
  .workspace/surgical_modifier/utils/integration_preparation.py
  .workspace/surgical_modifier/utils/project_context.py
  .workspace/surgical_modifier/utils/template_engine.py
Due: none

feat(integration): Complete AFTER/BEFORE operations integration in basic module
  .workspace/surgical_modifier/cli.py
  .workspace/surgical_modifier/core/operations/basic/__init__.py
Due: none

Path conditions:
  backend: any of: app/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.js, **/*.test.jsx, **/tests/, **/test_*.py, **/migrations/, **/node_modules/, **/__pycache__/, **/coverage/, **/dist/, **/build/, frontend/src/setupTests.ts, frontend/src/main.tsx, frontend/src/vite-env.d.ts
  frontend: any of: frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.js, **/*.test.jsx, **/tests/, **/test_*.py, **/migrations/, **/node_modules/, **/__pycache__/, **/coverage/, **/dist/, **/build/, frontend/src/setupTests.ts, frontend/src/main.tsx, frontend/src/vite-env.d.ts
