Repository J41RO/MeStore: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

# Configuraci√≥n de Codecov para MeStore
# https://docs.codecov.com/docs/codecov-yaml

codecov:
 require_ci_to_pass: yes
 notify:
   after_n_builds: 2  # Esperar backend y frontend

coverage:
 precision: 2
 round: down
 range: "70...100"
 
 status:
   project:
     default:
       target: 70%
       threshold: 2%
       if_no_uploads: error
   patch:
     default:
       target: 70%
       threshold: 2%

flags:
 backend:
   paths:
     - app/
   carryforward: false
 frontend:
   paths:
     - frontend/src/
   carryforward: false

ignore:
 - "**/*.test.ts"
 - "**/*.test.tsx"
 - "**/*.test.js"
 - "**/*.test.jsx"
 - "**/tests/"
 - "**/test_*.py"
 - "**/migrations/"
 - "**/node_modules/"
 - "**/__pycache__/"
 - "**/coverage/"
 - "**/dist/"
 - "**/build/"
 - "frontend/src/setupTests.ts"
 - "frontend/src/main.tsx"
 - "frontend/src/vite-env.d.ts"

comment:
 layout: "reach,diff,flags,tree"
 behavior: default
 require_changes: false

Fix: removed duplicate pydantic-settings version
  requirements.txt
Due: none

Add nixpacks config for Railway backend only
  nixpacks.toml
Due: none

Add dockerignore to reduce build size
  .dockerignore
Due: none

Add Render configuration
  render.yaml
Due: none

Add psycopg2-binary for PostgreSQL connection
  requirements.txt
Due: none

Replace psycopg2 with asyncpg for async PostgreSQL
  requirements.txt
Due: none

Add both psycopg2-binary and asyncpg for sync and async DB connections
  requirements.txt
Due: none

Fix async database URL for PostgreSQL
  app/database/__init__.py
Due: backend

Add email-validator dependency
  requirements.txt
Due: none

Add health check path to render.yaml
  render.yaml
Due: none

Disable migration validation for production deployment
  app/main.py
Due: backend

Add qrcode dependency
  requirements.txt
Due: none

Simplify lifespan for Render deployment
  app/main.py
Due: backend

fix(deployment): Implement lazy initialization for ChromaDB services
  app/services/chroma_service.py
  app/services/search_service.py
Due: backend

fix(deployment): Remove blocking CORS validation in production startup
  app/core/config.py
Due: backend

fix(deployment): Add debug logging and ultra-simplify middleware for Render startup
  app/core/middleware_integration_simple.py
  app/main.py
Due: backend

chore: Strip down to bare minimum for Render port detection test
  .workspace/departments/testing/e2e-testing-ai/README.md
  .workspace/departments/testing/e2e-testing-ai/docs/E2E_SESSION_LOG_2025-10-03.md
  .workspace/departments/testing/e2e-testing-ai/reports/E2E_EXECUTIVE_SUMMARY.md
  .workspace/departments/testing/e2e-testing-ai/reports/E2E_TEST_FINDINGS_REPORT.md
  .workspace/departments/testing/e2e-testing-ai/reports/QUICK_FIXES_GUIDE.md
  .workspace/departments/testing/e2e-testing-ai/reports/comprehensive_e2e_test_suite.py
  .workspace/departments/testing/e2e-testing-ai/reports/create_test_orders.py
  .workspace/departments/testing/e2e-testing-ai/reports/e2e_report_1759522942.json
  .workspace/departments/testing/e2e-testing-ai/reports/e2e_report_1759523024.json
  E2E_TESTING_COMPLETE_SUMMARY.md
  app/__pycache__/main.cpython-311.pyc
  app/core/dependencies_simple.py
  app/main.py
Due: backend

fix: Reduce api_router imports to minimal set for fast startup
  app/api/v1/__init__.py
Due: backend

test: Replace auth endpoint with minimal stub for diagnosis
  app/api/v1/endpoints/auth.py
Due: backend

fix: Create parent directories for log rotation
  app/core/logging_rotation.py
Due: backend

restore: Bring back full auth endpoint
  app/api/v1/endpoints/auth.py
Due: backend

restore: Add core business endpoints (products, orders, vendors, categories, inventory)
  app/api/v1/__init__.py
Due: backend

restore: Re-enable middleware and static file serving
  app/main.py
Due: backend

fix: Configure frontend for production deployment on Vercel
  frontend/.env.example
  frontend/.env.production
  frontend/.gitignore
  frontend/src/services/apiClient.ts
  frontend/src/services/categoryService.ts
  frontend/src/services/productImageService.ts
  frontend/src/services/superuserService.ts
  frontend/src/services/websocketService.ts
Due: frontend

fix: Allow console.debug in production build
  frontend/.eslintrc.cjs
  frontend/eslint.config.js
  frontend/vite.config.ts
Due: none

fix: Disable ESLint in production build for Vercel
  frontend/package.json
  frontend/vercel.json
  frontend/vite.config.ts
Due: none

docs(production): Complete production deployment notification and documentation
  .workspace/MISSION_COMPLETED_PRODUCTION_NOTIFICATION.md
  .workspace/PRODUCTION_STATUS.md
  .workspace/RESPONSIBLE_AGENTS.md
  .workspace/notifications/production-launch/ALL_AGENTS_BROADCAST.md
  .workspace/notifications/production-launch/INFRASTRUCTURE_TEAM_ALERT.md
  .workspace/notifications/production-launch/MASTER_ORCHESTRATOR_ALERT.md
  CLAUDE.md
Due: none

fix: Remove hardcoded IP addresses and use environment variables
  frontend/src/services/api.ts
  frontend/src/services/authService.ts
  frontend/src/services/shippingService.ts
  frontend/src/services/vendorApiService.ts
  frontend/src/utils/env.ts
Due: frontend

fix: Use import.meta.env for Vite environment variables
  frontend/src/utils/env.ts
Due: frontend

fix: Add Vercel domain to CORS allowed origins
  app/core/config.py
Due: backend

feat: Add admin user creation script for production
  scripts/create_admin_on_startup.py
Due: none

test(database): Fix DATABASE_URL assertion to accept any SQLite database file
  tests/test_database_config.py
Due: none

fix(auth): Repair authentication tests and logger bugs
  app/api/v1/endpoints/auth.py
  tests/api/test_critical_endpoints_mvp.py
Due: backend

test(api): Add comprehensive endpoint validation suite and report
  ENDPOINT_VALIDATION_REPORT.md
  tests/validate_all_endpoints.sh
Due: none

fix(tests): Fix authentication unit tests - SMS OTP and JWT security
  tests/unit/auth/test_auth_service_enhanced.py
  tests/unit/auth/test_jwt_security.py
Due: none

feat(security): Add comprehensive JWT security test suite
  tests/security/test_jwt_security.py
Due: none

fix(tests): Skip complex JWT configuration tests requiring refactor
  tests/unit/auth/test_jwt_security.py
Due: none

feat(integration): Enable admin, products, and commissions routers for integration tests
  app/api/v1/__init__.py
Due: backend

fix(tests): Fix role-based access unit tests with correct function signatures
  tests/unit/auth/test_role_based_access.py
Due: none
