Repository J41RO/MeStore: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

test: Validación pipeline CI en PR - Tarea 0.2.5.6
  .workspace/context/log.md
  .workspace/context/todo.md
  PIPELINE_VALIDATION.md
Due: none

fix: Corregir configuración Jest frontend para pipeline CI
  .workspace/context/log.md
  .workspace/context/todo.md
  PIPELINE_VALIDATION.md
  frontend/frontend/src/__mocks__/fileMock.js
  frontend/frontend/src/__mocks__/svgMock.js
  frontend/src/__mocks__/fileMock.js
  frontend/src/components/__tests__/App.test.tsx.disabled
  frontend/src/setupTests.ts
  jest.config.js
  requirements.txt
Due: frontend

feat: Tarea 0.2.6.1 - Configurar logging con structlog para backend
  .workspace/context/log.md
  .workspace/context/todo.md
  LOGGING_GUIDE.md
  PIPELINE_VALIDATION.md
  app/__pycache__/main.cpython-311.pyc
  app/core/config.py
  app/core/logger.py
  app/main.py
  frontend/frontend/tsconfig.app.json
  frontend/frontend/tsconfig.json
  frontend/frontend/tsconfig.node.json
  frontend/jest.config.cjs
  frontend/package.json
  frontend/src/types/svg.d.ts
  requirements.txt
  test_exception_handler.py
  test_logging_demo.py
  test_logging_fixed.py
Due: backend, frontend

feat: Tarea 0.2.6.1 - Configurar logging con structlog para backend ✅ SISTEMA DE LOGGING ESTRUCTURADO IMPLEMENTADO:
  .workspace/context/log.md
  .workspace/context/todo.md
  .workspace/documentacion.md
  app/__pycache__/main.cpython-311.pyc
  app/main.py
  app/middleware/__init__.py
  app/middleware/logging.py
  app/middleware/logging_example.md
Due: backend

feat(middleware): Tarea 0.2.6.2 - Middleware de logging FastAPI
  app/main.py
  app/middleware/__init__.py
  app/middleware/logging.py
Due: backend

fix: Corrección completa de tests y configuración - Coverage 58.45%
  .coveragerc
  .workspace/context/log.md
  .workspace/documentacion.md
  app/__pycache__/main.cpython-311.pyc
  app/api/v1/health.py
  app/core/logger.py
  app/main.py
  app/middleware/logging.py
  requirements.txt
  test_loguru_demo.py
  tests/conftest.py
  tests/conftest_redis_override.py
  tests/core/test_config.py
  tests/core/test_logger_loguru.py
  y
Due: backend

🏆 feat: API embeddings completamente funcional con 100% tests
  .workspace/scripts/dependency_analyzer.py
  app/api/v1/embeddings.py
  app/models/base.py
  app/services/embeddings.py
  test_analysis_embeddings.json
  test_analysis_logging.json
  test_analysis_main.json
  tests/models/test_base.py
  tests/schemas/test_user.py
  tests/test_api_embeddings.py
  tests/test_chromadb.py
  tests/test_embeddings.py
Due: backend

feat: Tarea 0.2.6.5 - Sistema de rotación de logs y levels por ambiente completado
  .workspace/context/log.md
  .workspace/context/todo.md
  FRONTEND_LOGGING_GUIDE.md
  LOGGING_ROTATION_GUIDE.md
  app/__pycache__/main.cpython-311.pyc
  app/api/v1/logs.py
  app/core/config.py
  app/core/logging_rotation.py
  app/main.py
  frontend/.env.development
  frontend/.env.example
  frontend/.env.production
  frontend/src/App.tsx
  frontend/src/components/LoggerExample.tsx
  frontend/src/hooks/useLogger.ts
  frontend/src/types/logger.d.ts
  frontend/src/utils/index.ts
  frontend/src/utils/logger.ts
  test_log_rotation.py
Due: backend, frontend

feat: Tarea 0.2.6.6 - Health check endpoints /health y /ready completados
  .workspace/context/log.md
  .workspace/context/todo.md
  app/__pycache__/main.cpython-311.pyc
  app/api/health_simple.py
  app/main.py
  data/chroma/eae39073-6d9c-450d-a6f6-17608a3e20de/length.bin
  tests/integration/test_health.py
Due: backend

fix: Mover health endpoints a ubicación requerida app/api/v1/endpoints/health.py
  app/__pycache__/main.cpython-311.pyc
  app/api/v1/endpoints/health.py
  app/main.py
Due: backend

feat(api): implement modular FastAPI structure with new routers
  app/__pycache__/main.cpython-311.pyc
  app/api/v1/endpoints/agents.py
  app/api/v1/endpoints/fulfillment.py
  app/api/v1/endpoints/marketplace.py
  app/main.py
  data/chroma/eae39073-6d9c-450d-a6f6-17608a3e20de/length.bin
  tests/__pycache__/test_health.cpython-311-pytest-8.4.1.pyc
  tests/api/test_health.py
  tests/api/test_health_check.py
  tests/integration/test_app_boot.py
  tests/test_health.py
Due: backend

✅ FEAT: Implementar dependencias globales completas (Database, Redis, Auth)
  .venv/lib/python3.11/site-packages/passlib/__pycache__/__init__.cpython-311.pyc
  .venv/lib/python3.11/site-packages/passlib/__pycache__/context.cpython-311.pyc
  .venv/lib/python3.11/site-packages/passlib/__pycache__/exc.cpython-311.pyc
  .venv/lib/python3.11/site-packages/passlib/__pycache__/ifc.cpython-311.pyc
  .venv/lib/python3.11/site-packages/passlib/__pycache__/registry.cpython-311.pyc
  .venv/lib/python3.11/site-packages/passlib/crypto/__pycache__/digest.cpython-311.pyc
  .venv/lib/python3.11/site-packages/passlib/handlers/__pycache__/bcrypt.cpython-311.pyc
  .venv/lib/python3.11/site-packages/passlib/utils/__pycache__/__init__.cpython-311.pyc
  .venv/lib/python3.11/site-packages/passlib/utils/__pycache__/binary.cpython-311.pyc
  .venv/lib/python3.11/site-packages/passlib/utils/__pycache__/decor.cpython-311.pyc
  .venv/lib/python3.11/site-packages/passlib/utils/__pycache__/handlers.cpython-311.pyc
  .venv/lib/python3.11/site-packages/passlib/utils/compat/__pycache__/__init__.cpython-311.pyc
  .workspace/context/todo.md
  app/__pycache__/main.cpython-311.pyc
  app/api/v1/endpoints/marketplace_corrupted_backup.py
  app/core/auth.py
  app/core/auth_broken_backup.py
  app/main.py
  docs/BCRYPT_WARNING.md
  requirements.txt
  tests/integration/test_auth_endpoints.py
  tests/unit/test_auth.py
Due: backend

feat(api): Implementar estructura API v1 con versioning completo
  .workspace/context/todo.md
  app/__pycache__/main.cpython-311.pyc
  app/api/v1/__init__.py
  app/api/v1/deps/__init__.py
  app/api/v1/endpoints/embeddings.py
  app/api/v1/endpoints/health_complete.py
  app/api/v1/endpoints/logs.py
  app/api/v1/endpoints/marketplace_corrupted_backup.py
  app/main.py
  tests/integration/test_api_versioning.py
Due: backend

fix(tests): Corregir tests legacy para usar API v1 versioning
  tests/__pycache__/test_health.cpython-311-pytest-8.4.1.pyc
  tests/api/test_health.py
  tests/api/test_health_check.py.backup.1753036968
  tests/integration/test_api_versioning.py
  tests/integration/test_app_boot.py.backup.1753036968
  tests/integration/test_health.py.backup.1753036968
  tests/test_fixtures_validation.py.backup.1753036968
  tests/test_health.py.backup.1753036968
Due: none

feat(api): Completar implementación API versioning v1 con corrección masiva de tests
  .workspace/context/todo.md
  tests/api/test_health.py
  tests/integration/test_api_versioning.py
  tests/integration/test_app_boot.py
  tests/integration/test_auth_endpoints.py
  tests/integration/test_health.py
  tests/test_api_embeddings.py
Due: none

fix: Corrección test_ready_endpoint_response_structure - Manejo robusto de respuestas 503
  app/__pycache__/main.cpython-311.pyc
  app/api/v1/endpoints/embeddings.py
  app/api/v1/handlers/__init__.py
  app/api/v1/handlers/exceptions.py
  app/main.py
  tests/integration/test_health.py
  tests/test_final_exceptions.py
Due: backend

fix: Resolución conflicto PyTorch con lazy imports ✅
  app/api/v1/endpoints/embeddings.py
  app/services/embeddings.py
  tests/test_final_exceptions.py
Due: backend

fix: Tests corregidos + PyTorch lazy imports - Sistema 100% funcional ✅
  tests/test_api_embeddings.py
  tests/test_embeddings.py
Due: none

feat(api): TAREA 1.1.1.6 - Configurar metadata de API profesional
  .workspace/context/todo.md
  app/__pycache__/main.cpython-311.pyc
  app/api/v1/endpoints/embeddings.py
  app/api/v1/endpoints/health.py
  app/api/v1/endpoints/logs.py
  app/main.py
  tests/__pycache__/test_health.cpython-311-pytest-8.4.1.pyc
  tests/integration/test_api_docs_metadata.py
  tests/integration/test_app_boot.py
  tests/test_health.py
Due: backend

feat(auth): Tarea 1.1.2.3 - Sistema JWT completo con access y refresh tokens
  .workspace/start.yaml
  app/core/config.py
  app/core/security.py
  tests/unit/test_jwt_tokens.py
Due: backend

feat(auth): Implementar dependencia get_current_user centralizada
  .workspace/context/todo.md
  app/api/v1/deps/auth.py
  app/core/auth.py
  tests/unit/test_auth_dependency.py
Due: backend

feat: TAREA 1.1.2.5 - Role-Based Access Control (RBAC) Completada
  .workspace/context/todo.md
  app/api/v1/endpoints/marketplace.py.broken
  app/core/auth.py
  tests/unit/test_role_access.py
Due: backend

feat(security): TAREA 1.1.3.1 - Security Headers y HTTPS Redirect Middleware
  .workspace/context/todo.md
  app/__pycache__/main.cpython-311.pyc
  app/api/v1/endpoints/auth.py
  app/main.py
  app/middleware/__init__.py
  app/middleware/security.py
  test_analysis_security.json
  tests/unit/test_security_headers.py
Due: backend

feat(security): User-Agent Validator Middleware - Bot Protection
  .workspace/context/log.md
  .workspace/context/todo.md
  =
  app/__pycache__/main.cpython-311.pyc
  app/core/config.py
  app/main.py.broken_backup
  app/middleware/__init__.py
  app/middleware/logging.py
  app/middleware/rate_limiter.py
  app/middleware/user_agent_validator.py
  tests/integration/test_api_versioning.py
  tests/unit/test_logging_middleware.py
  tests/unit/test_rate_limiter.py
  tests/unit/test_user_agent_validator.py
Due: backend

feat(security): CSP Headers para XSS Protection
  .workspace/context/todo.md
  app/middleware/security.py
  tests/unit/test_security_headers.py
Due: backend

feat(security): Tarea 1.1.3.6 - IP Detection Middleware Completada
  .workspace/context/todo.md
  app/__pycache__/main.cpython-311.pyc
  app/core/config.py
  app/core/middleware/ip_detection.py
  app/main.py
  tests/unit/test_ip_detection.py
Due: backend

feat(cors): Configurar CORS para desarrollo SSH (localhost:3000)
  .workspace/context/todo.md
  app/__pycache__/main.cpython-311.pyc
  app/core/config.py
  app/main.py
  frontend/vite.config.ts
  scripts/project_manager.sh
Due: backend

feat(cors): Configurar CORS para producción mestocker.com
  .env.production
  .workspace/context/completed_tasks.md
  app/core/config.py
  tests/conftest.py
  tests/integration/test_app_boot.py
Due: backend

fix(tests): Test API Versioning - FastAPI HTTPException handling
  .env.production
  .workspace/context/log.md
  .workspace/context/todo.md
  INFORME_FINAL_TAREA_1.1.4.4.md
  app/__pycache__/main.cpython-311.pyc
  app/core/config.py
  app/main.py
  cookies.txt
  frontend/Dockerfile
  requirements.txt
  tests/integration/test_api_versioning.py
Due: backend

feat(database): SQLAlchemy Async Engine - Production Ready Setup
  .workspace/context/todo.md
  app/core/config.py
  app/database/__init__.py
  app/database/session.py
Due: backend

feat(models): BaseModel SQLAlchemy - Common Fields Architecture
  app/models/base.py
  app/models/user.py
  test_analysis_base.json
  tests/models/test_base.py
  tests/models/test_base.py.backup.1753289888
  tests/models/test_base_simple.py
  tests/test_base.py
Due: backend

feat(database): Session Dependency Injection - Consolidación Sistema DB
  .workspace/context/todo.md
  app/api/v1/deps/__init__.py
  app/api/v1/deps/database.py
  app/api/v1/endpoints/health.py
  app/api/v1/endpoints/health_complete.py
  tests/unit/test_database_dependency.py
Due: backend

feat: Tarea 1.1.5.4 - Configurar Database URL desde Variables de Entorno
  .env.template
  app/core/config.py
  app/core/database.py
  app/database/session.py
  tests/core/test_config.py
  tests/core/test_database_config.py
Due: backend

feat(utils): Database Utilities & CRUD Operations - Soft Delete Support
  .workspace/context/todo.md
  app/models/base.py
  app/models/user.py
  app/utils/__init__.py
  app/utils/crud.py
  app/utils/crud_sync.py
  app/utils/database.py
  tests/unit/test_crud_utils.py.broken
  tests/unit/test_crud_utils_clean.py
  tests/unit/test_database_utils.py.broken
  tests/unit/test_final_success.py
  tests/unit/test_working_utilities.py
Due: backend

feat(database): Database Initialization & Connection Testing System
  .workspace/context/log.md
  .workspace/context/todo.md
  app/__pycache__/main.cpython-311.pyc
  app/api/v1/__init__.py.backup.manual
  app/api/v1/endpoints/marketplace.py.broken
  app/core/auth_broken_backup.py
  app/core/database.py
  app/core/security_backup.py
  app/main.py.broken_backup
  app/models/base.py
  app/models/user.py
  app/models/user.py.backup.original
  app/utils/database_utils.py
  tests/test_database_isolation.py
  tests/test_database_working.py
Due: backend

feat(database): Alembic Async Support & Auto-Generation - Migration System
  .venv/lib/python3.11/site-packages/pytest_cov/__pycache__/__init__.cpython-311.pyc
  .venv/lib/python3.11/site-packages/pytest_cov/__pycache__/embed.cpython-311.pyc
  alembic.ini
  alembic/env.py
  docs/alembic_commands.md
  tests/migrations/test_alembic_config.py
  tests/migrations/test_alembic_config_fixed.py
Due: none

feat(alembic): Multi-Environment Configuration - Development/Testing/Production
  .env.production
  .workspace/context/todo.md
  ALEMBIC_MULTI_ENVIRONMENT_GUIDE.md
  alembic.ini
  alembic/env.py.backup.1753310559
  scripts/alembic_helpers.sh
  tests/migrations/test_environments.py
Due: none

feat(migrations): Auto-Discovery Models para Alembic - Sistema Inteligente
  alembic/env.py.backup.1753312510
  app/models/__init__.py
  app/models/__init__.py.backup.1753312848
  docs/model_auto_discovery.md
  tests/migrations/__init__.py
  tests/migrations/test_model_discovery.py
Due: backend

Path conditions:
  backend: any of: app/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.js, **/*.test.jsx, **/tests/, **/test_*.py, **/migrations/, **/node_modules/, **/__pycache__/, **/coverage/, **/dist/, **/build/, frontend/src/setupTests.ts, frontend/src/main.tsx, frontend/src/vite-env.d.ts
  frontend: any of: frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.js, **/*.test.jsx, **/tests/, **/test_*.py, **/migrations/, **/node_modules/, **/__pycache__/, **/coverage/, **/dist/, **/build/, frontend/src/setupTests.ts, frontend/src/main.tsx, frontend/src/vite-env.d.ts
