Repository J41RO/MeStore: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat(error-reporting): Complete advanced error reporting system implementation
  .workspace/surgical_modifier/cli.py.backup_verbose_fix
  .workspace/surgical_modifier/coordinators/replace.py.backup_before_context
  .workspace/surgical_modifier/functions/debugging/__init__.py
  .workspace/surgical_modifier/functions/debugging/context_extractor.py
  .workspace/surgical_modifier/functions/debugging/pattern_suggester.py
  .workspace/surgical_modifier/functions/response/response_builder.py.backup_before_context
  .workspace/surgical_modifier/functions/workflow/replace_workflow.py.backup_before_context
  .workspace/surgical_modifier/tests/test_coordinators/test_replace.py
  .workspace/surgical_modifier/tests/test_debugging/__init__.py
  .workspace/surgical_modifier/tests/test_debugging/test_context_extractor.py
  .workspace/surgical_modifier/tests/test_debugging/test_response_builder.py
Due: none

feat(structural-analysis): Sistema de análisis estructural preventivo completamente implementado
  .workspace/surgical_modifier/cli.py
  .workspace/surgical_modifier/functions/analysis/circular_detector.py
  .workspace/surgical_modifier/functions/analysis/duplicate_detector.py
  .workspace/surgical_modifier/functions/analysis/structural_analyzer.py
  .workspace/surgical_modifier/functions/analysis/types.py
  .workspace/surgical_modifier/functions/workflow/replace_workflow.py
  .workspace/surgical_modifier/tests/test_analysis/test_circular_detector.py
  .workspace/surgical_modifier/tests/test_analysis/test_duplicate_detector.py
  .workspace/surgical_modifier/tests/test_analysis/test_structural_analyzer.py
  .workspace/surgical_modifier/tests/test_coordinators/test_replace.py
Due: none

feat(preview): Sistema preview/dry-run completo con integración nativa
  .workspace/surgical_modifier/cli.py
  .workspace/surgical_modifier/coordinators/replace.py
  .workspace/surgical_modifier/functions/interaction/__init__.py
  .workspace/surgical_modifier/functions/interaction/interactive_confirm.py
  .workspace/surgical_modifier/functions/visualization/diff_visualizer.py
  .workspace/surgical_modifier/functions/workflow/replace_workflow.py
  .workspace/surgical_modifier/tests/test_interaction/__init__.py
  .workspace/surgical_modifier/tests/test_interaction/test_interactive_confirm.py
  .workspace/surgical_modifier/tests/test_visualization/__init__.py
  .workspace/surgical_modifier/tests/test_visualization/test_diff_visualizer.py
Due: none

feat(vendedores): VendorList endpoint with filters - COMPLETED
  .workspace/context/todo.md
  app/api/v1/endpoints/vendedores.py
  app/schemas/vendedor.py
  test_vendor_list.py
Due: backend

fix(database): Reparación crítica del módulo database y lanzamiento web funcional
  app/database/__init__.py
Due: backend

fix(system): Reparación completa y sistema MeStocker 100% funcional
  alembic/env.py
  app/models/base.py
Due: backend

fix(system): Reparación masiva de imports - Sistema MeStocker 100% funcional
  app/__pycache__/main.cpython-311.pyc
  app/api/v1/deps/database.py
  app/api/v1/endpoints/alerts.py
  app/api/v1/endpoints/auth.py
  app/api/v1/endpoints/comisiones.py
  app/api/v1/endpoints/inventory.py
  app/api/v1/endpoints/pagos.py
  app/api/v1/endpoints/perfil.py
  app/api/v1/endpoints/productos.py
  app/api/v1/endpoints/products_bulk.py
  app/api/v1/endpoints/vendedores.py
  app/core/auth.py
  app/main.py
  app/middleware/performance_monitor.py
  app/utils/benchmark.py
  app/utils/database_utils.py
  app/utils/query_analyzer.py
Due: backend

feat(frontend): Complete vendor authentication integration
  frontend/src/App.tsx
  frontend/src/components/auth/VendorLogin.tsx
  frontend/src/components/dashboard/VendorDashboard.tsx
  frontend/src/pages/VendorTest.tsx
  frontend/src/services/api_vendor.ts
Due: frontend

feat(integration): Frontend-Backend connection established
  src/components/auth/VendorLogin.tsx
  src/services/api.ts
Due: none

feat(integration): Frontend-Backend connection completed
  frontend/src/components/auth/VendorLogin.tsx
  frontend/src/services/api.ts
  frontend/tsconfig.json.backup-20250906_031609
Due: frontend

feat(integration): Frontend-Backend connection completed
  src/components/auth/VendorLogin.tsx
  src/services/api.ts
Due: none

feat(integration): Frontend-Backend connection COMPLETED successfully
  frontend/src/components/auth/VendorLogin.tsx
  frontend/src/components/forms/ProductForm.tsx
  frontend/src/hooks/useProductList.ts
  frontend/src/services/api.ts
Due: frontend

feat(integration): Frontend-Backend integration COMPLETED with full test coverage
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/api.ts
Due: frontend

feat(integration): Frontend-Backend integration COMPLETED successfully with full test coverage
  frontend/tsconfig.app.json
Due: none

feat(auth): Implement missing authentication endpoints with CLI v6.0
  app/api/v1/endpoints/auth.py
  frontend/src/App.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/LandingPagePro.tsx
Due: backend, frontend

feat(auth): Implement user creation system with test user setup
  app/services/auth_service.py
  scripts/create_test_user.py
Due: backend

fix(frontend): Navbar principal completado - TailwindCSS corregido
  frontend/bulk_functions_replacement.txt
  frontend/new_bulk_functions.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/package.json.backup-20250812_163930
  frontend/postcss.config.js
  frontend/src/pages/Dashboard.tsx.backup.1755231569
  frontend/src/pages/Dashboard.tsx.backup.manual.1755193460
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/LandingPagePro.tsx
  frontend/src/pages/Login.tsx.backup.manual
  frontend/verify.sh.backup-20250812_164525
  frontend/vite
Due: frontend

feat(frontend): Implement navbar authentication states with avatar dropdown
  frontend/src/pages/LandingPage.tsx
Due: frontend

feat(frontend): Improve Login button hover effects
  frontend/src/pages/LandingPage.tsx
Due: frontend

feat(frontend): Background dinámico profesional implementado
  frontend/src/pages/LandingPage.tsx
Due: frontend

feat(frontend): Typography upgrade with advanced visual effects
  frontend/src/pages/LandingPage.tsx
Due: frontend

feat(frontend): Implement intelligent CTAs with auth-based redirection
  frontend/src/pages/LandingPage.tsx
Due: frontend

feat(frontend): Efectos visuales premium implementados en CTAs
  frontend/src/pages/LandingPage.tsx
Due: frontend

feat(frontend): Premium register page implementation completed - Superior to Envia Accounts
  frontend/src/components/DashboardSection.tsx
  frontend/src/components/FloatingMetrics.tsx
  frontend/src/components/auth/OTPVerification.tsx.emergency-backup
  frontend/src/components/auth/RegisterForm.tsx
  frontend/src/hooks/useDashboardMetrics.ts
  frontend/src/hooks/useVendor.ts.backup.1755154871
  frontend/src/hooks/useVendor.ts.backup.1755155000
  frontend/src/hooks/useVendor.ts.backup.manual.1755153702
  frontend/src/hooks/useVendor.ts.backup.manual.1755192453
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/RegisterVendor.tsx
Due: frontend

fix(ux): Correcciones críticas UX formulario registro - Validación mejorada
  frontend/src/components/auth/RegisterForm.tsx
Due: frontend

feat(register): Implementación completa flujo multi-step
  frontend/src/pages/RegisterVendor.tsx
  frontend/src/pages/RegisterVendor.tsx.backup-multistep
Due: frontend

feat(register): Completado flujo multi-step de 3 pasos con datos específicos por rol
  frontend/src/pages/RegisterVendor.tsx
  frontend/src/pages/RegisterVendor.tsx.backup-paso3
Due: frontend

feat(oauth): OAuth UI Ready implementation completed
  frontend/.env.development
  frontend/docs/OAUTH_SETUP.md
  frontend/package-lock.json
  frontend/package.json
  frontend/page_content.html
  frontend/src/hooks/index.ts
  frontend/src/hooks/useFacebookAuth.ts
  frontend/src/hooks/useGoogleAuth.ts
  frontend/src/main.tsx
  frontend/src/pages/Productos.tsx.broken-backup
  frontend/src/pages/Productos.tsx.clean_backup_1755453569
  frontend/src/pages/RegisterVendor.tsx
  frontend/src/pages/RegisterVendor.tsx.backup-multistep
  frontend/src/pages/RegisterVendor.tsx.backup-paso3
  frontend/src/pages/VendorLanding.tsx.broken-backup
Due: frontend

feat(frontend): Login page unified with registration design
  frontend/src/pages/Login.tsx
Due: frontend

feat(security): Implement secure admin portal with subdomain migration ready
  frontend/docs/MIGRATION_TO_SUBDOMAIN.md
  frontend/src/App.tsx
  frontend/src/pages/AdminRestricted.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Marketplace.tsx
Due: frontend

fix(typescript): resolve multi-file TypeScript type conflicts
  frontend/src/components/DashboardSection.tsx
  frontend/src/components/auth/RegisterForm.tsx
  frontend/src/hooks/useFacebookAuth.ts
  frontend/src/pages/AdminRestricted.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/RegisterVendor.tsx
Due: frontend

feat(fullstack): Subdominio admin.mestocker.com implementado exitosamente
  .workspace/surgical_modifier/cli.py
  .workspace/surgical_modifier/config.py
  .workspace/surgical_modifier/coordinators/typescript_react.py
  .workspace/surgical_modifier/functions/analysis/technology_detector.py
  .workspace/surgical_modifier/tests/test_technology_detector.py
  SUBDOMINIO_ADMIN_CONFIG.md
  frontend/vite.config.ts
Due: none

feat(admin): Sistema de login admin diferenciado completado
  app/api/v1/endpoints/auth.py.backup-20250908_013801
  app/services/audit_service.py
  frontend/src/App.tsx.backup-20250908_013602
  frontend/src/components/auth/AdminLoginForm.tsx
  frontend/src/pages/AdminLogin.tsx
Due: backend, frontend

fix(admin): Corregida llamada authenticate_user en endpoint /admin-login
  app/api/v1/endpoints/auth.py
Due: backend

refactor(admin): Optimizaciones finales sistema login admin
  frontend/src/App.tsx
  frontend/src/components/auth/AdminLoginForm.tsx
Due: frontend

test(frontend): Fix Login and RegisterForm test suite failures
  frontend/src/components/__tests__/RegisterForm.test.tsx
  frontend/src/pages/__tests__/Login.test.tsx
Due: none

feat(project-config): Sistema de configuración automática por proyecto implementado
  .workspace/surgical_modifier/cli.py
  .workspace/surgical_modifier/config.py
  .workspace/surgical_modifier/functions/project/alias_resolver.py
  .workspace/surgical_modifier/functions/project/config_detector.py
  .workspace/surgical_modifier/functions/project/dependency_analyzer.py
  .workspace/surgical_modifier/tests/project/test_config_detector.py
Due: none

feat(detector-router): Fase 2 completada - Detector Central Inteligente implementado
  .workspace/surgical_modifier/cli.py
  .workspace/surgical_modifier/coordinators/coordinator_router.py
  .workspace/surgical_modifier/docs/CURRENT_PYTHON_STATE.md
  .workspace/surgical_modifier/functions/analysis/technology_detector.py
  .workspace/surgical_modifier/test_auto_python.py
  .workspace/surgical_modifier/test_auto_react.tsx
  .workspace/surgical_modifier/tests/regression/test_python_complete.py
Due: none

feat(typescript): FASE 3 COMPLETADA - Coordinador TypeScript Especializado
  .workspace/surgical_modifier/checklist_test.ts
  .workspace/surgical_modifier/coordinators/coordinator_router.py
  .workspace/surgical_modifier/coordinators/coordinator_router.py.corrupted
  .workspace/surgical_modifier/coordinators/typescript/typescript_coordinator.py
  .workspace/surgical_modifier/final_demo.ts
  .workspace/surgical_modifier/functions/typescript/import_resolver.py
  .workspace/surgical_modifier/functions/typescript/import_resolver.py.broken
  .workspace/surgical_modifier/functions/typescript/interface_manager.py
  .workspace/surgical_modifier/functions/typescript/syntax_validator.py
  .workspace/surgical_modifier/test_interface.ts
  .workspace/surgical_modifier/test_types.ts
  .workspace/surgical_modifier/test_typescript.ts
  .workspace/surgical_modifier/tests/test_coordinators/test_typescript_coordinator.py
  .workspace/surgical_modifier/tests/test_functions/test_typescript_functions.py
Due: none

feat(react): ReactCoordinator especializado - FASE 4 COMPLETADA
  .workspace/surgical_modifier/coordinators/coordinator_router.py
  .workspace/surgical_modifier/coordinators/react/react_coordinator.py
  .workspace/surgical_modifier/coordinators/typescript_react.py
  .workspace/surgical_modifier/final_test.jsx
  .workspace/surgical_modifier/final_test.tsx
  .workspace/surgical_modifier/functions/react/component_analyzer.py
  .workspace/surgical_modifier/functions/react/hook_manager.py
  .workspace/surgical_modifier/functions/react/jsx_parser.py
  .workspace/surgical_modifier/functions/react/props_manager.py
  .workspace/surgical_modifier/test_component.tsx
  .workspace/surgical_modifier/test_hooks.tsx
  .workspace/surgical_modifier/test_props.jsx
  .workspace/surgical_modifier/test_verification.py
  .workspace/surgical_modifier/tests/test_coordinators/test_react_coordinator.py
  .workspace/surgical_modifier/tests/test_functions/test_react_functions.py
Due: none

Path conditions:
  backend: any of: app/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.js, **/*.test.jsx, **/tests/, **/test_*.py, **/migrations/, **/node_modules/, **/__pycache__/, **/coverage/, **/dist/, **/build/, frontend/src/setupTests.ts, frontend/src/main.tsx, frontend/src/vite-env.d.ts
  frontend: any of: frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.js, **/*.test.jsx, **/tests/, **/test_*.py, **/migrations/, **/node_modules/, **/__pycache__/, **/coverage/, **/dist/, **/build/, frontend/src/setupTests.ts, frontend/src/main.tsx, frontend/src/vite-env.d.ts
