Repository J41RO/MeStore: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

# Configuraci√≥n de Codecov para MeStore
# https://docs.codecov.com/docs/codecov-yaml

codecov:
 require_ci_to_pass: yes
 notify:
   after_n_builds: 2  # Esperar backend y frontend

coverage:
 precision: 2
 round: down
 range: "70...100"
 
 status:
   project:
     default:
       target: 70%
       threshold: 2%
       if_no_uploads: error
   patch:
     default:
       target: 70%
       threshold: 2%

flags:
 backend:
   paths:
     - app/
   carryforward: false
 frontend:
   paths:
     - frontend/src/
   carryforward: false

ignore:
 - "**/*.test.ts"
 - "**/*.test.tsx"
 - "**/*.test.js"
 - "**/*.test.jsx"
 - "**/tests/"
 - "**/test_*.py"
 - "**/migrations/"
 - "**/node_modules/"
 - "**/__pycache__/"
 - "**/coverage/"
 - "**/dist/"
 - "**/build/"
 - "frontend/src/setupTests.ts"
 - "frontend/src/main.tsx"
 - "frontend/src/vite-env.d.ts"

comment:
 layout: "reach,diff,flags,tree"
 behavior: default
 require_changes: false

fix(engines): Critical repair - MockEngine and tests completely functional
  .workspace/surgical_modifier/functions/engines/ast_engine.py
  .workspace/surgical_modifier/functions/engines/base_engine.py
  .workspace/surgical_modifier/functions/engines/comby_engine.py
  .workspace/surgical_modifier/functions/engines/native_engine.py
  .workspace/surgical_modifier/functions/engines/selector.py.backup2
  .workspace/surgical_modifier/tests/test_functions/test_engines/test_base_engine.py
  .workspace/surgical_modifier/tests/test_functions/test_engines/test_selector.py
Due: none

feat(tests): Implement typical use cases for EngineSelector - Task 2.5.2.5 completed
  .workspace/surgical_modifier/tests/test_functions/test_engines/test_selector.py
Due: none

feat(tests): Implement robust fallback verification tests - Complete coverage
  .workspace/surgical_modifier/tests/test_functions/test_engines/test_selector.py
Due: none

feat(coordinators): Complete engine selector integration with fallback strategy
  .workspace/surgical_modifier/coordinators/create.py
  .workspace/surgical_modifier/coordinators/prototype_create.py
  .workspace/surgical_modifier/coordinators/prototype_replace.py
Due: none

feat(engines): Complete backup integration with all engines
  .workspace/surgical_modifier/functions/engines/ast_engine.py
  .workspace/surgical_modifier/functions/engines/base_engine.py
  .workspace/surgical_modifier/functions/engines/comby_engine.py
  .workspace/surgical_modifier/functions/engines/native_engine.py
  .workspace/surgical_modifier/functions/engines/selector.py
  .workspace/surgical_modifier/tests/test_functions/test_engines/test_backup_integration.py
Due: none

feat(engines): Complete backup integration with zero technical debt
  .workspace/surgical_modifier/functions/engines/ast_engine.py
  .workspace/surgical_modifier/functions/engines/comby_engine.py
  .workspace/surgical_modifier/tests/test_functions/test_engines/test_backup_integration.py
Due: none

feat(pattern-matching): Multi-engine pattern matching adaptation completed
  .workspace/surgical_modifier/functions/pattern/__init__.py
  .workspace/surgical_modifier/functions/pattern/base_matcher.py
  .workspace/surgical_modifier/functions/pattern/literal_matcher.py
  .workspace/surgical_modifier/functions/pattern/pattern_factory.py
  .workspace/surgical_modifier/functions/pattern/regex_matcher.py
Due: none

feat(engines): Complete Phase 2.5 Integration - Engine Selection & Functions Integration
  .workspace/surgical_modifier/coordinators/create.py
  .workspace/surgical_modifier/functions/engines/base_engine.py
  .workspace/surgical_modifier/test_file.py
Due: none

test(integration): Complete engines integration testing - Phase 2.5.3.5 finished
  .workspace/surgical_modifier/tests/integration/test_no_regressions_engines.py
  .workspace/surgical_modifier/tests/test_functions/test_engines/test_integration_content.py
  .workspace/surgical_modifier/tests/test_functions/test_engines/test_integration_coordinator.py
  .workspace/surgical_modifier/tests/test_functions/test_engines/test_integration_patterns.py
Due: none

feat(hybrid-system): Sistema híbrido end-to-end verificado completamente
  .workspace/surgical_modifier/functions/pattern/pattern_factory.py
  .workspace/surgical_modifier/tests/integration/test_hybrid_system_e2e.py
Due: none

feat(etapa3): Complete functions implementation for CREATE coordinator
  .workspace/surgical_modifier/coordinators/create.py
  .workspace/surgical_modifier/functions/template/generator.py
  .workspace/surgical_modifier/functions/validation/path_checker.py
Due: none

feat(etapa3): Complete functions implementation with zero technical debt
  .workspace/surgical_modifier/functions/template/generator.py
  .workspace/surgical_modifier/temp_generator_simple.py
  .workspace/surgical_modifier/tests/test_functions/test_template/__init__.py
  .workspace/surgical_modifier/tests/test_functions/test_template/test_generator.py
  .workspace/surgical_modifier/tests/test_functions/test_validation/__init__.py
  .workspace/surgical_modifier/tests/test_functions/test_validation/test_path_checker.py
Due: none

test(coordinators): Complete CREATE coordinator functions modular testing implementation
  .workspace/surgical_modifier/test_file.py
  .workspace/surgical_modifier/tests/test_coordinators/test_create.py
Due: none

refactor(architecture): CreateCoordinator architectural refactoring to lightweight orchestrator pattern
  .workspace/surgical_modifier/coordinators/create.py.backup_before_refactor
  .workspace/surgical_modifier/functions/response/__init__.py
  .workspace/surgical_modifier/functions/response/response_builder.py
  .workspace/surgical_modifier/functions/workflow/__init__.py
  .workspace/surgical_modifier/functions/workflow/create_workflow.py
Due: none

feat(replace): Implement REPLACE Coordinator as Lightweight Orchestrator
  .workspace/surgical_modifier/coordinators/replace.py
  .workspace/surgical_modifier/functions/workflow/replace_workflow.py
  .workspace/surgical_modifier/mi_archivo.py
  .workspace/surgical_modifier/tests/test_coordinators/test_replace.py
Due: none

test(architecture): Add modular architecture tests for ReplaceCoordinator
  .workspace/surgical_modifier/tests/test_coordinators/test_replace.py
Due: none

feat(coordinators): BEFORE Coordinator orquestador ligero completado
  .workspace/surgical_modifier/coordinators/before.py
  .workspace/surgical_modifier/tests/test_coordinators/test_before.py
Due: none

feat(coordinators): AfterCoordinator implementation completed
  .workspace/surgical_modifier/coordinators/after.py
  .workspace/surgical_modifier/coordinators/create.py.backup_before_refactor
  .workspace/surgical_modifier/coordinators/example.py
  .workspace/surgical_modifier/coordinators/prototype_create.py
  .workspace/surgical_modifier/coordinators/prototype_replace.py
  .workspace/surgical_modifier/tests/test_coordinators/test_after.py
Due: none

feat(backend): Complete coordinators/append.py implementation - Module 3.3.1 finished
  .workspace/surgical_modifier/coordinators/append.py
  .workspace/surgical_modifier/tests/test_coordinators/test_append.py
  .workspace/surgical_modifier/tests/test_functions/test_coordinator_reuse.py
  .workspace/surgical_modifier/tests/test_functions/test_real_coordinator_reuse.py
Due: none

fix(coordinators): Complete migration to direct logic processing
  .workspace/surgical_modifier/coordinators/after.py
  .workspace/surgical_modifier/coordinators/before.py
  .workspace/surgical_modifier/functions/insertion/position_calculator.py
  .workspace/surgical_modifier/tests/test_coordinators/test_after.py
  .workspace/surgical_modifier/tests/test_coordinators/test_before.py
Due: none

feat(surgical-modifier): Complete CLI create command enhancement
  .workspace/surgical_modifier/cli.py
  .workspace/surgical_modifier/functions/pattern/fuzzy_matcher.py
  .workspace/surgical_modifier/simple_test.py
  .workspace/surgical_modifier/tests/test_coordinators/test_replace.py
Due: none

fix(cli): Comando after integrado con AfterCoordinator
  .workspace/surgical_modifier/cli.py
  app/api/v1/endpoints/comisiones.py
  app/models/payout_history.py
  app/models/payout_request.py
  app/schemas/payout_history.py
  frontend/src/components/payout/PayoutHistoryTable.tsx
Due: backend, frontend

feat(dashboard): Implementación dashboard comparativo KPIs completada
  app/api/v1/endpoints/vendedores.py
  app/schemas/vendedor.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/dashboard/ComparativeDashboard.tsx
  frontend/src/components/dashboard/__init__.py
  frontend/src/pages/Dashboard.tsx
Due: backend, frontend

feat(cli): Complete CLI Surgical Modifier corrections - 100% functional
  .workspace/surgical_modifier/cli.py
  app/api/v1/endpoints/vendedores.py
Due: backend

feat(admin): AdminLayout implementation completed for SUPERUSER
  .workspace/context/todo.md
  .workspace/surgical_modifier/5%
  frontend/src/App.tsx
  frontend/src/components/AdminLayout.tsx
  frontend/src/pages/admin/AdminDashboard.tsx
  frontend/src/pages/admin/SystemConfig.tsx
  frontend/src/pages/admin/UserManagement.tsx
  frontend/src/stores/authStore.ts
Due: frontend

feat(admin-kpis): Implement global administrative KPIs system
  .workspace/context/todo.md
  app/api/v1/__init__.py
  app/api/v1/endpoints/admin.py
  app/schemas/admin.py
  frontend/src/components/admin/GlobalKPIs.tsx
Due: backend, frontend

feat(frontend): Implement growth charts with monthly comparisons (Task 1.6.1.3)
  frontend/src/components/charts/GrowthChart.tsx
  frontend/src/components/charts/MonthlyComparisonChart.tsx
  frontend/src/pages/admin/AdminDashboard.tsx
Due: frontend

feat(widgets): Add CommissionRevenueWidget with complete functionality
  frontend/src/components/widgets/CommissionRevenueWidget.tsx
  frontend/src/components/widgets/__tests__/CommissionRevenueWidget.test.tsx
Due: frontend

feat(ux): Complete UX improvements implementation - CLI v6.0
  .workspace/surgical_modifier/cli.py
Due: none

feat(UX): Implement intuitive argument order with full backward compatibility
  .workspace/surgical_modifier/tests/test_functions/test_content/test_encodings.py
  .workspace/surgical_modifier/tests/test_ux_improvements.py
Due: none

feat(fullstack): ActivityMapWidget - Mapa interactivo Colombia completado
  .workspace/context/todo.md
  .workspace/surgical_modifier/functions/workflow/replace_workflow.py
  app/api/v1/endpoints/admin.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/widgets/ActivityMapWidget.tsx
  frontend/src/components/widgets/__tests__/ActivityMapWidget.test.tsx
  frontend/src/main.tsx
Due: backend, frontend

feat(alerts): Sistema de Alertas Críticas Completado con CLI v6.0
  frontend/src/components/alerts/AlertFilters.tsx
  frontend/src/components/alerts/AlertsPanel.tsx
  frontend/src/hooks/useSystemAlerts.ts
  frontend/src/hooks/useVendorAlerts.ts
  frontend/src/types/alerts.types.ts
Due: frontend

feat(alerts): Complete TypeScript error correction with CLI v6.0
  frontend/src/components/alerts/AlertsPanel.tsx
  frontend/src/components/vendors/VendorFilters.tsx
  frontend/src/components/vendors/VendorList.tsx
  frontend/src/components/vendors/__tests__/VendorList.test.tsx
  frontend/src/hooks/__tests__/useVendorList.test.ts
  frontend/src/hooks/useSystemAlerts.ts
  frontend/src/hooks/useVendorAlerts.ts
  frontend/src/hooks/useVendorList.ts
  frontend/src/types/alerts.types.ts
Due: frontend

fix(tests): OTPVerification test suite - all 3 critical errors resolved
  frontend/src/components/__tests__/OTPVerification.test.tsx
  frontend/src/components/alerts/AlertsPanel.tsx
Due: frontend

feat(fullstack): Implementation completed with CLI v6.0
  .workspace/surgical_modifier/cli.py.backup_antes_correccion
  .workspace/surgical_modifier/coordinators/after.py
  .workspace/surgical_modifier/coordinators/before.py
  .workspace/surgical_modifier/functions/analysis/file_explorer.py
  .workspace/surgical_modifier/functions/matching/fuzzy_matcher.py
  .workspace/surgical_modifier/test_react_component.tsx
  .workspace/surgical_modifier/tests/test_functions/test_file_explorer.py
  .workspace/surgical_modifier/tests/test_functions/test_fuzzy_matcher.py
Due: none

feat(js-ts-validator): Validador JS/TS con rollback automático implementado
  .workspace/surgical_modifier/cli.py
  .workspace/surgical_modifier/coordinators/replace.py
  .workspace/surgical_modifier/debug_rollback.js
  .workspace/surgical_modifier/functions/backup/intelligent_manager.py
  .workspace/surgical_modifier/functions/validation/js_ts_validator.py
  .workspace/surgical_modifier/functions/workflow/replace_workflow.py
  .workspace/surgical_modifier/test_react_component.tsx
  .workspace/surgical_modifier/test_rollback.jsx
  .workspace/surgical_modifier/tests/test_coordinators/test_replace.py
  .workspace/surgical_modifier/tests/test_functions/test_js_ts_validator.py
Due: none

feat(cli): Implementación completa modo batch y transaccional CLI v6.0
  .workspace/surgical_modifier/batch_example.json
  .workspace/surgical_modifier/cli.py
  .workspace/surgical_modifier/coordinators/batch.py
  .workspace/surgical_modifier/functions/transaction/manager.py
  .workspace/surgical_modifier/test_batch.json
  .workspace/surgical_modifier/tests/test_coordinators/test_batch.py
  .workspace/surgical_modifier/tests/test_functions/test_transaction/test_manager.py
Due: none
