Repository J41RO/MeStore: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat(product-rejection): Complete product rejection system with vendor notifications
  app/api/v1/endpoints/admin.py
  app/services/notification_service.py
  app/services/product_verification_workflow.py
  frontend/src/components/admin/ProductRejectionForm.tsx
  frontend/src/components/admin/ProductVerificationWorkflow.tsx
  frontend/src/components/admin/QualityChecklistForm.tsx
  tests/test_rejection_system.py
Due: backend, frontend

feat(location-assignment): Complete intelligent automatic location assignment system
  app/api/v1/endpoints/admin.py
  app/services/location_assignment_service.py
  app/services/product_verification_workflow.py
  frontend/src/components/admin/LocationAssignmentForm.tsx
  frontend/src/components/admin/ProductVerificationWorkflow.tsx
  frontend/src/components/admin/QualityChecklistForm.tsx
  tests/test_location_assignment.py
Due: backend, frontend

fix(tests): Complete test suite fixes - all 914 backend and frontend tests passing
  app/services/storage_manager_service.py
  frontend/src/App.tsx
  frontend/src/components/AdminLayout.tsx
  frontend/src/components/admin/StorageManagerDashboard.tsx
  tests/test_rejection_system.py
  tests/test_storage_manager.py
Due: backend, frontend

feat(system-config): Complete System Configuration Panel implementation - comprehensive admin control panel
  app/api/v1/__init__.py
  app/api/v1/endpoints/system_config.py
  app/models/system_setting.py
  app/schemas/system_config.py
  frontend/src/components/admin/ConfigField.tsx
  frontend/src/components/admin/ConfigSection.tsx
  frontend/src/hooks/useSystemConfig.ts
  frontend/src/pages/admin/SystemConfig.tsx
Due: backend, frontend

feat(vendor-onboarding): Complete 4-step vendor registration wizard with document upload system
  app/api/v1/endpoints/vendedores.py
  app/models/__init__.py
  app/models/user.py
  app/models/vendor_document.py
  app/schemas/vendor_document.py
  frontend/src/pages/RegisterVendor.tsx
Due: backend, frontend

fix(tests): Complete backend test suite fixes - all tests now passing
  app/models/payout_history.py
  tests/test_chromadb_integration.py
  tests/test_config.py
  tests/test_dependencies_simple.py
  tests/test_simple.py
  tests/test_user_profile_fields.py
  tests/test_users_simple.py
Due: backend

feat(vendor-profile): Complete vendor profile and configuration system implementation
  app/api/v1/__init__.py
  app/api/v1/endpoints/vendor_profile.py
  app/models/user.py
  app/schemas/vendor_profile.py
  frontend/src/App.tsx
  frontend/src/components/RoleGuard.tsx
  frontend/src/hooks/useRoleAccess.ts
  frontend/src/main.tsx
  frontend/src/pages/ProductosSimple.tsx
  frontend/src/pages/VendorProfile.tsx
  frontend/src/stores/authStore.ts
Due: backend, frontend

feat(product-images): Complete CRUD system with multiple image support
  app/api/v1/endpoints/productos.py
  frontend/src/components/forms/ProductForm.tsx
  frontend/src/components/products/ProductTable.tsx
  frontend/src/services/productImageService.ts
  frontend/src/types/api.types.ts
Due: backend, frontend

feat(marketplace-search): Complete marketplace search and filters system
  frontend/src/App.tsx
  frontend/src/components/marketplace/SearchFilters.test.tsx
  frontend/src/components/marketplace/SearchFilters.tsx
  frontend/src/components/marketplace/SearchResults.test.tsx
  frontend/src/components/marketplace/SearchResults.tsx
  frontend/src/pages/MarketplaceSearch.tsx
Due: frontend

fix: Complete error correction - backend & frontend now error-free
  app/services/inventory_service.py
  frontend/src/components/__tests__/DashboardLayout.test.tsx
  frontend/src/components/__tests__/Layout.test.tsx
  frontend/src/components/__tests__/QuickActions.test.tsx
  frontend/src/components/marketplace/AddToCartButton.tsx
  frontend/src/components/marketplace/ProductImageGallery.tsx
  frontend/src/components/marketplace/SearchResults.tsx
  frontend/src/components/marketplace/VendorInfo.tsx
  frontend/src/pages/__tests__/Dashboard.test.tsx
  frontend/src/stores/__tests__/authStore.test.ts
Due: backend, frontend

fix: Complete backend error correction and payment system integration
  app/api/v1/__init__.py
  app/api/v1/endpoints/orders.py
  app/api/v1/endpoints/payments.py
  app/core/config.py
  app/middleware/rate_limiter.py
  app/models/order.py
  app/models/payment.py
  app/models/user.py
  app/services/payments/__init__.py
  app/services/payments/payment_processor.py
  app/services/payments/webhook_handler.py
  app/services/payments/wompi_service.py
  frontend/src/App.tsx
  frontend/src/components/__tests__/DashboardLayout.test.tsx
  frontend/src/components/marketplace/CategoryFilters.tsx
  frontend/src/components/marketplace/CategoryHeader.tsx
  frontend/src/components/marketplace/PopularCategories.tsx
  frontend/src/components/marketplace/__tests__/CartItemList.test.tsx
  frontend/src/components/marketplace/__tests__/CartSummary.test.tsx
  frontend/src/components/payments/CreditCardForm.tsx
  frontend/src/components/payments/OrderSummary.tsx
  frontend/src/components/payments/PSEForm.tsx
  frontend/src/components/payments/PaymentMethods.tsx
  frontend/src/components/payments/ShippingForm.tsx
  frontend/src/hooks/useBreadcrumb.ts
  frontend/src/pages/BuyerOrders.tsx
  frontend/src/pages/CategoryPage.tsx
  frontend/src/pages/Checkout.tsx
  frontend/src/pages/__tests__/ShoppingCart.test.tsx
  frontend/src/stores/authStore.ts
  requirements.txt
  tests/conftest.py
Due: backend, frontend

feat: Complete enterprise order management system - backend production-ready
  app/api/v1/endpoints/orders.py
  app/services/email_service.py
  app/services/notification_service.py
  app/services/order_state_service.py
  app/services/order_tracking_service.py
  app/services/qr_service.py
  tests/services/test_notification_orders.py
  tests/services/test_order_state_service.py
  tests/services/test_order_tracking_service.py
Due: backend

fix: Complete error correction - TypeScript errors and test failures resolved
  frontend/src/App.tsx
  frontend/src/components/AdminLayout.tsx
  frontend/src/components/orders/CreateOrderModal.tsx
  frontend/src/components/orders/OrderDetails.tsx
  frontend/src/components/orders/OrderErrorBoundary.tsx
  frontend/src/components/orders/OrderFilters.tsx
  frontend/src/components/orders/OrderList.tsx
  frontend/src/components/orders/OrderManagement.tsx
  frontend/src/components/orders/index.ts
  frontend/src/pages/BuyerOrdersNew.tsx
  frontend/src/pages/OrderTracking.tsx
  frontend/src/pages/VendorOrders.tsx
  frontend/src/pages/__tests__/Dashboard.test.tsx
  frontend/src/pages/admin/OrdersManagement.tsx
  frontend/src/services/orderService.ts
  frontend/src/types/orders.ts
Due: frontend

fix(auth): Critical authentication routing fixes for vendor access
  frontend/src/App.tsx
  frontend/src/components/RoleBasedRedirect.tsx
  frontend/src/components/RoleGuard.tsx
  frontend/src/pages/Login.tsx
Due: frontend

feat(payments): Implement critical WompiService methods for payment integration
  .workspace/status/daily-reports/wompi-payment-integrator-2025-09-18.md
  CLAUDE.md
  app/services/payments/wompi_service.py
  docs/WOMPI_SERVICE_IMPLEMENTATION.md
  tests/test_wompi_integration_simple.py
  tests/test_wompi_service_methods.py
Due: backend

feat(tdd): Implement comprehensive TDD fixes and eliminate skipped tests
  tests/api/test_critical_endpoints_mvp.py
  tests/api/test_health.py
Due: none

feat(tdd): Squad 1 RED phase implementation - Admin Dashboard & KPIs testing suite
  SQUAD_1_RED_PHASE_IMPLEMENTATION_REPORT.md
  pytest.ini
  tests/test_user_roles_verification.py
  tests/unit/admin/conftest_admin_red.py
  tests/unit/admin/test_admin_dashboard_kpis_red.py
  tests/unit/admin/test_admin_qr_management_red.py
  tests/unit/admin/test_admin_security_authorization_red.py
  tests/unit/admin/test_admin_storage_management_red.py
  tests/unit/admin/test_admin_workflow_verification_red.py
Due: none

feat(testing): Comprehensive Admin Management Testing Architecture
  .workspace/departments/testing/test-architect/ADMIN_FIXTURES_HIERARCHY.md
  .workspace/departments/testing/test-architect/ADMIN_MANAGEMENT_TESTING_ARCHITECTURE.md
  .workspace/departments/testing/test-architect/ADMIN_PERFORMANCE_TESTING_FRAMEWORK.md
  .workspace/departments/testing/test-architect/ADMIN_TESTING_PATTERNS.md
  .workspace/departments/testing/test-architect/AGENT_COORDINATION_GUIDE.md
  .workspace/departments/testing/test-architect/COMPREHENSIVE_ADMIN_TESTING_STRATEGY_SUMMARY.md
  .workspace/departments/testing/test-architect/MESTORE_TESTING_STRATEGY.md
  .workspace/departments/testing/test-architect/QUICK_START_GUIDE.md
  .workspace/departments/testing/test-architect/SKIPPED_TESTS_ENABLEMENT_PLAN.md
  .workspace/departments/testing/test-architect/TEST_IMPLEMENTATION_SPECS.md
Due: none

feat(tdd): Admin data management RED phase - 35 comprehensive tests for 13 endpoints
  ADMIN_DATA_MANAGEMENT_RED_PHASE_COMPLETION_REPORT.md
  E2E_ADMIN_MANAGEMENT_IMPLEMENTATION_REPORT.md
  pytest.ini
  tests/e2e/admin_management.py
  tests/unit/admin_management/test_admin_data_management_red.py
  tests/unit/admin_management/test_admin_system_config_red.py
Due: none

fix(testing): Corregir imports incorrectos en suite admin_management
  tests/fixtures/admin_management/admin_auth_test_patterns.py
  tests/integration/admin_management/test_admin_auth_integration.py
Due: none

security(audit): Comprehensive admin security audit and remediation framework
  ADMIN_SECURITY_REMEDIATION_GUIDE.md
  COMPREHENSIVE_ADMIN_SECURITY_AUDIT_REPORT.md
  scripts/comprehensive_security_testing.py
Due: none

fix(security): Update JWT decode API to use current jose library syntax
  app/core/security.py
Due: backend

fix(security): Fix encryption key rotation functionality
  app/core/security.py
Due: backend

feat(tdd): Comprehensive admin utils test suite with 95.75% coverage
  docs/TDD_ADMIN_UTILS_IMPLEMENTATION_REPORT.md
  tests/unit/core/__init__.py
  tests/unit/core/test_admin_utils.py
Due: none

feat(tdd): Final API test validation - Complete TDD compliance achieved
  app/api/v1/__init__.py
  tests/api/test_perfil_bancarios.py
  tests/api/test_productos_upload.py
Due: backend

fix(e2e): Replace real-time calculations with simulated timing in workflow tests
  tests/e2e/admin_management/test_crisis_security_management.py
  tests/e2e/admin_management/test_departmental_operations.py
  tests/e2e/admin_management/test_superuser_complete_workflows.py
Due: none

fix(integration): Fix admin authentication integration tests - remove all skips, make all 8 tests pass
  pytest.ini
  tests/integration/admin_management/conftest.py
  tests/integration/admin_management/test_admin_auth_integration.py
Due: none

fix(integration): Fix admin endpoint audit logging and rate limiting integration
  app/api/v1/endpoints/admin.py
  app/core/logging.py
  app/core/rate_limiting.py
  tests/unit/admin/test_admin_security_authorization_red.py
Due: backend

fix(testing): Handle SQLite concurrency limitations gracefully in admin session test
  tests/unit/admin/test_admin_security_authorization_red.py
Due: none

fix(integration-testing): Comprehensive integration test fixture fixes
  tests/integration/admin_management/conftest.py
  tests/integration/admin_management/test_admin_cross_system_integration.py
Due: none

fix(database): Resolve duplicate email validation issue in admin integration tests
  app/api/v1/endpoints/admin.py
  tests/integration/admin_management/conftest.py
Due: backend

fix(testing): Fix user type test expectation to align with implementation behavior
  tests/unit/core/test_integrated_auth_tdd.py
Due: none

fix(integration): Fix test_error_handling_cascading_integration database setup
  tests/integration/admin_management/conftest.py
  tests/integration/admin_management/test_admin_cross_system_integration.py
Due: none

fix(tests): Fix test expectation for None user_id in create_user_session
  tests/unit/core/test_integrated_auth_tdd.py
Due: none

Path conditions:
  backend: any of: app/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.js, **/*.test.jsx, **/tests/, **/test_*.py, **/migrations/, **/node_modules/, **/__pycache__/, **/coverage/, **/dist/, **/build/, frontend/src/setupTests.ts, frontend/src/main.tsx, frontend/src/vite-env.d.ts
  frontend: any of: frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.js, **/*.test.jsx, **/tests/, **/test_*.py, **/migrations/, **/node_modules/, **/__pycache__/, **/coverage/, **/dist/, **/build/, frontend/src/setupTests.ts, frontend/src/main.tsx, frontend/src/vite-env.d.ts
