Repository J41RO/MeStore: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

# Configuraci√≥n de Codecov para MeStore
# https://docs.codecov.com/docs/codecov-yaml

codecov:
 require_ci_to_pass: yes
 notify:
   after_n_builds: 2  # Esperar backend y frontend

coverage:
 precision: 2
 round: down
 range: "70...100"
 
 status:
   project:
     default:
       target: 70%
       threshold: 2%
       if_no_uploads: error
   patch:
     default:
       target: 70%
       threshold: 2%

flags:
 backend:
   paths:
     - app/
   carryforward: false
 frontend:
   paths:
     - frontend/src/
   carryforward: false

ignore:
 - "**/*.test.ts"
 - "**/*.test.tsx"
 - "**/*.test.js"
 - "**/*.test.jsx"
 - "**/tests/"
 - "**/test_*.py"
 - "**/migrations/"
 - "**/node_modules/"
 - "**/__pycache__/"
 - "**/coverage/"
 - "**/dist/"
 - "**/build/"
 - "frontend/src/setupTests.ts"
 - "frontend/src/main.tsx"
 - "frontend/src/vite-env.d.ts"

comment:
 layout: "reach,diff,flags,tree"
 behavior: default
 require_changes: false

Simplify CORS middleware to directly use CORS_ORIGINS
  app/core/middleware_integration_simple.py
Due: backend

feat(auth): Implement hierarchical role system with granular permissions
  app/models/user.py
  scripts/init_production_db.py
  scripts/init_railway_db.py
Due: backend

fix(db): Add permissions column migration to init scripts
  scripts/init_production_db.py
  scripts/init_railway_db.py
Due: none

fix(db): Add new user roles to PostgreSQL usertype enum
  scripts/init_production_db.py
  scripts/init_railway_db.py
Due: none

fix(auth): String formatting error in login endpoints
  app/api/v1/endpoints/auth.py
Due: backend

fix(auth): Allow OWNER and all ADMIN roles in admin login endpoint
  app/api/v1/endpoints/auth.py
Due: backend

fix(frontend): Add OWNER and all ADMIN roles to frontend type system
  frontend/src/stores/authStore.ts
  frontend/src/types/auth.types.ts
Due: frontend

fix(frontend): Add OWNER to role hierarchy and fix role validation
  frontend/src/hooks/useRoleAccess.ts
  frontend/src/pages/Unauthorized.tsx
Due: frontend

fix(frontend): Add OWNER to all admin portal route guards
  frontend/src/App.tsx
Due: frontend

feat(auth): Add password recovery flow for admin users
  app/api/v1/endpoints/auth.py
  app/services/email_service.py
  frontend/src/App.tsx
  frontend/src/components/auth/AdminLoginForm.tsx
  frontend/src/pages/ForgotPassword.tsx
  frontend/src/pages/ResetPassword.tsx
Due: backend, frontend

fix(email): Replace SendGrid with Resend for email service
  app/services/email_service.py
  requirements.txt
Due: backend

fix: Update resend library version to >=2.0.0
  requirements.txt
Due: none

fix: Add resend to production requirements
  requirements_production.txt
Due: none

fix(frontend): Correct API URL environment variable in password recovery
  frontend/src/pages/ForgotPassword.tsx
  frontend/src/pages/ResetPassword.tsx
Due: frontend

fix(backend): Remove duplicate password reset endpoints causing IntegrationService error
  app/api/v1/endpoints/auth.py
Due: backend

feat(email): Add comprehensive diagnostic logging for email service
  app/services/email_service.py
Due: backend

fix(auth): Make confirm_password optional in password reset
  app/api/v1/endpoints/auth.py
  app/schemas/auth.py
Due: backend

feat(password-reset): Complete password recovery with 3 critical improvements
  app/api/v1/endpoints/auth.py
  frontend/src/pages/ResetPassword.tsx
Due: backend, frontend

feat(auth): Complete password recovery for ALL users (Admin, Vendor, Buyer)
  .workspace/departments/testing/sections/e2e-testing/reports/production_readiness_certification.json
  .workspace/departments/testing/sections/e2e-testing/reports/production_readiness_summary.md
  .workspace/reports/FASE_6_SECURITY_AUTH_TESTS_REPORT.md
  .workspace/requests/activation_database-architect-ai_REQ_20251006_132615_7143.md
  .workspace/requests/delegation_REQ_20251006_132615_7143.json
  app/__pycache__/main.cpython-311.pyc
  app/api/v1/endpoints/auth.py
  data/chroma/35ebcc0e-5aa1-43b7-b91b-086dcb1a9c10/data_level0.bin
  data/chroma/35ebcc0e-5aa1-43b7-b91b-086dcb1a9c10/header.bin
  data/chroma/35ebcc0e-5aa1-43b7-b91b-086dcb1a9c10/length.bin
  data/chroma/35ebcc0e-5aa1-43b7-b91b-086dcb1a9c10/link_lists.bin
  frontend/src/App.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/PublicForgotPassword.tsx
  frontend/src/pages/PublicResetPassword.tsx
  integration_test_report_20251006_181448.json
  integration_test_report_20251006_182142.json
  integration_test_report_20251006_182342.json
  integration_test_report_20251006_182553.json
  integration_test_report_20251006_182649.json
  integration_test_report_20251006_182927.json
  integration_test_report_20251006_183613.json
  integration_test_report_20251006_183814.json
  integration_test_report_20251006_185130.json
  integration_test_report_20251006_191455.json
  tests/unit/app/test_main_app_initialization.py
  tests/unit/core/test_integrated_auth_tdd.py
Due: backend, frontend

fix(login): Fix forgot password link and remove test credentials
  frontend/src/pages/Login.tsx
Due: frontend

fix(login): Remove duplicate forgot password link and unify OAuth buttons size
  frontend/src/pages/Login.tsx
Due: frontend

feat(ux): Comprehensive UX/UI improvements for public login page
  frontend/src/pages/Login.tsx
Due: frontend

fix: Make Google and Facebook OAuth buttons same size (48px height)
  frontend/src/pages/Login.tsx
Due: frontend

fix(ui): Remove justify-center from GoogleSignInButton wrapper to match Facebook button width
  frontend/src/components/auth/GoogleSignInButton.tsx
Due: frontend

feat: Add SMS test endpoint for Twilio verification
  app/api/v1/__init__.py
  app/api/v1/endpoints/test.py
Due: backend

fix: Add send_sms method to SMSService for test endpoint
  app/api/v1/endpoints/test.py
  app/services/sms_service.py
Due: backend

feat: Implement Twilio Verify for phone verification
  app/api/v1/endpoints/test.py
  app/services/sms_service.py
Due: backend

feat: Add customer registration schemas and account status to User model
  app/models/user.py
  app/schemas/auth.py
Due: backend

feat: Add database migration and auth helper functions
  alembic/versions/2025_10_08_2141-fe0b5dec2fb2_add_account_status_to_users.py
  app/utils/auth_helpers.py
Due: backend

feat(auth): Add customer registration endpoints with email and phone verification
  app/api/v1/endpoints/auth.py
Due: backend

fix(db): Apply account_status migration and add manual migration script
  scripts/add_account_status.py
Due: none

fix(auth): Add missing SQLAlchemy select import
  app/api/v1/endpoints/auth.py
Due: backend

fix(auth): Add comprehensive error logging in customer registration
  app/api/v1/endpoints/auth.py
Due: backend

fix(auth): Add await to async hash_password call in registration
  app/api/v1/endpoints/auth.py
Due: backend

fix(auth): Correct email background task parameters
  app/api/v1/endpoints/auth.py
  app/utils/auth_helpers.py
Due: backend

fix(auth): Rename endpoints to avoid name collision with helpers
  app/api/v1/endpoints/auth.py
Due: backend

feat(marketplace): Add authenticated user display in MarketplaceNavbar
  frontend/src/components/marketplace/MarketplaceNavbar.tsx
Due: frontend

fix(marketplace): Fix products loading using correct endpoint
  frontend/src/pages/MarketplaceHome.tsx
Due: frontend

fix(cors): Add explicit Vercel domains to CORS middleware
  app/core/middleware_integration_simple.py
Due: backend
