Repository J41RO/MeStore: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

docs(reorganize): Move code quality and production readiness reports to docs/
  docs/deployment/EVALUACION_PRE_PRODUCCION.md
  docs/deployment/PRODUCTION_READINESS_REPORT.md
  docs/executive/CODE_QUALITY_EXECUTIVE_SUMMARY.md
  docs/executive/PHASE_1_EXECUTIVE_SUMMARY.md
  docs/guides/features/CODE_QUALITY_QUICK_REFERENCE.md
  docs/reports/audits/2025-Q4/CODE_QUALITY_ANALYSIS_REPORT.md
Due: none

docs(reorganize): Move final documentation files to docs/ structure
  docs/architecture/WORKSPACE_OPTIMIZATION_PROPOSAL.md
  docs/guides/features/TOP_10_KEEP_IN_ROOT.md
  docs/reports/bugs/2025-Q4/REGISTRATION_FLOW_FIX.md
Due: none

docs(completion): Add FASE_2_DOCUMENTATION_COMPLETE.md report
  docs/FASE_2_DOCUMENTATION_COMPLETE.md
Due: none

docs(index): Add comprehensive master index for docs/ structure
  docs/README.md
Due: none

workspace(technical-debt-manager): Add Phase 2 completion report to agent office
  .workspace/departments/management/technical-debt-manager/PHASE_2_COMPLETION_REPORT.md
Due: none

scripts(reorganize): Move scattered scripts to organized structure
  scripts/debug/assistant_dev.py
  scripts/testing/test_frontend_functions.sh
  scripts/testing/test_stats.sh
  scripts/testing/test_vendor_api_endpoints.sh
  scripts/testing/test_vendor_orders_quick.py
  scripts/validation/validate_user_create_modal.py
Due: none

docs(claude): Update CLAUDE.md with new project organization structure
  CLAUDE.md
Due: none

docs(final): Add comprehensive reorganization report
  data/reports/FLOAT_FIELDS_INVENTORY.json
  data/reports/api_coverage_analysis.json
  data/reports/enhanced_api_coverage_analysis.json
  data/reports/integration_test_report_20250928_184109.json
  data/reports/integration_test_report_20251006_181448.json
  data/reports/integration_test_report_20251006_182142.json
  data/reports/integration_test_report_20251006_182342.json
  data/reports/integration_test_report_20251006_182553.json
  data/reports/integration_test_report_20251006_182649.json
  data/reports/integration_test_report_20251006_182927.json
  data/reports/integration_test_report_20251006_183613.json
  data/reports/integration_test_report_20251006_183814.json
  data/reports/integration_test_report_20251006_185130.json
  data/reports/integration_test_report_20251006_191455.json
  data/reports/reorganization_inventory.json
  data/reports/user_create_modal_validation_1759082427.json
  data/reports/user_create_modal_validation_1759082454.json
  docs/PROJECT_REORGANIZATION_COMPLETE.md
Due: none

security(xss): Implement XSS prevention in email templates
  app/api/v1/endpoints/auth.py
  app/services/email_service.py
  tests/test_admin_vendor_management.py
Due: backend

feat(security): Implement P1 security hardening for admin vendor endpoints
  app/api/v1/endpoints/auth.py
  app/main.py
  docs/reports/implementation/2025-Q4/P1_SECURITY_HARDENING_REPORT.md
  tests/unit/security/test_admin_vendor_security_validations.py
Due: backend

feat(admin): Complete FASE 1 vendor management with database migrations and comprehensive documentation
  alembic/versions/2025_10_12_2101-b68d8e937bad_p0_p1_add_rejection_and_audit_fields.py
  app/models/__init__.py
  app/models/user.py
  app/models/vendor_audit.py
  docs/reports/implementation/2025-Q4/FASE_1_ADMIN_VENDOR_MANAGEMENT_EXECUTIVE_SUMMARY.md
  docs/reports/security/2025-Q4/EXECUTIVE_SUMMARY_VENDOR_MANAGEMENT_AUDIT.md
  docs/reports/security/2025-Q4/SECURITY_AUDIT_ADMIN_VENDOR_MANAGEMENT_ENDPOINTS.md
  docs/reports/testing/2025-Q4/ADMIN_VENDOR_MANAGEMENT_TDD_VALIDATION_REPORT.md
  docs/reports/testing/2025-Q4/SECURITY_RE_AUDIT_POST_FIXES_2025-10-12.md
  frontend/src/App.tsx
  frontend/src/components/admin/navigation/NavigationConfig.ts
  frontend/src/components/admin/vendors/AdminPendingSellers.tsx
Due: backend, frontend

feat(admin): Implement vendor management dashboard for approve/reject workflow
  .workspace/vendor-management-implementation.md
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/pages/admin/VendorManagement.tsx
Due: frontend

feat(cors): Add mestocker.com and www.mestocker.com to CORS origins
  app/core/config.py
Due: backend

feat(deploy): Add requirements_production.txt for Railway deployment
  requirements_production.txt
Due: none

docs(production): Update all Render references to Railway
  CLAUDE.md
Due: none

docs(deployment): Add comprehensive Railway deployment guide
  docs/deployment/RAILWAY_DEPLOYMENT_GUIDE.md
Due: none

test(integration): Transition performance test from RED to GREEN phase
  tests/integration/test_admin_approval_processes_red.py
Due: none

fix(frontend): corregir ruteo de botones CTA a user-type-selector
  frontend/src/components/layout/Footer.tsx
  frontend/src/components/layout/Navbar.tsx
Due: frontend

fix(backend): agregar requirements.txt para Railway deployment
  requirements.txt
Due: none

fix(backend): agregar slowapi y httpx a requirements
  requirements.txt
  requirements_production.txt
Due: none

fix(deploy): remover referencia a logging.conf eliminado
  scripts/production-entrypoint.sh
Due: none

fix(critical): synchronize SMS OTP code between database and Twilio
  app/api/v1/endpoints/auth.py
Due: backend

docs: add comprehensive registration flow verification report
  docs/reports/REGISTRATION_FLOW_VERIFICATION.md
Due: none

feat(debug): add OTP status diagnostic endpoint for production debugging
  app/api/v1/endpoints/test.py
Due: backend

fix(backend): improve SMS verification handling and env configuration
  .env.example
  app/api/v1/endpoints/admin.py
  app/api/v1/endpoints/auth.py
Due: backend

Path conditions:
  backend: any of: app/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.js, **/*.test.jsx, **/tests/, **/test_*.py, **/migrations/, **/node_modules/, **/__pycache__/, **/coverage/, **/dist/, **/build/, frontend/src/setupTests.ts, frontend/src/main.tsx, frontend/src/vite-env.d.ts
  frontend: any of: frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.js, **/*.test.jsx, **/tests/, **/test_*.py, **/migrations/, **/node_modules/, **/__pycache__/, **/coverage/, **/dist/, **/build/, frontend/src/setupTests.ts, frontend/src/main.tsx, frontend/src/vite-env.d.ts
