Repository J41RO/MeStore: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat(vendedor-dashboard): Implementar consultas SQL reales en endpoint resumen
  app/api/v1/endpoints/vendedores.py
Due: backend

feat(dashboard): Implementar consultas reales para dashboard ventas
  app/api/v1/endpoints/vendedores.py
Due: backend

feat(vendedores): TAREA 1.3.5.4 - Consultas reales en dashboard comisiones completada
  app/api/v1/endpoints/vendedores.py
Due: backend

feat(vendedores): Implementar endpoint exportación dashboard PDF/Excel
  app/api/v1/endpoints/vendedores.py
  app/schemas/vendedor.py
  requirements.txt
Due: backend

feat(api): Endpoint GET /comisiones - Consulta de comisiones por período
  .workspace/context/todo.md
  app/api/v1/__init__.py
  app/api/v1/endpoints/comisiones.py
  tests/api/test_comisiones.py
Due: backend

feat(comisiones): Endpoint POST solicitar-pago - Payout Request System
  .workspace/context/todo.md
  app/__pycache__/main.cpython-311.pyc
  app/api/v1/__init__.py
  app/api/v1/endpoints/comisiones.py
  app/models/payout_request.py
  app/models/user.py
  app/schemas/payout_request.py
  tests/api/test_comisiones.py
Due: backend

feat(api): Endpoint GET /pagos/historial - Historial de Transferencias
  app/api/v1/__init__.py
  app/api/v1/endpoints/pagos.py
  tests/api/test_pagos_historial.py
Due: backend

feat(profile): Endpoint PUT /perfil/datos-bancarios - User Banking Configuration
  .workspace/context/log.md
  .workspace/context/todo.md
  app/api/v1/__init__.py
  app/api/v1/endpoints/perfil.py
  app/models/user.py
  app/schemas/user.py
  tests/api/test_perfil_bancarios.py
  tests/test_user_profile_fields.py
  tests/test_users_simple.py
Due: backend

feat(comisiones): GET /comisiones/detalle/{transaction_id} - Commission Breakdown Endpoint
  app/api/v1/endpoints/comisiones.py
  app/schemas/financial_reports.py
  tests/api/test_comisiones_detalle.py
Due: backend

feat(comisiones): Commission Dispute Reporting System - Complete Implementation
  .workspace/context/todo.md
  .workspace/docs/alembic_recovery_guide.md
  .workspace/scripts/check_alembic_health.py
  .workspace/scripts/fix_alembic_version.py
  README.md
  app/api/v1/endpoints/comisiones.py
  app/models/commission_dispute.py
  app/models/transaction.py
  app/models/user.py
  app/schemas/commission_dispute.py
  create_commission_disputes_table.py
  fix_alembic_version.py
  tests/api/test_comisiones_detalle.py
  tests/api/test_comisiones_dispute.py
Due: backend

feat(frontend): TypeScript Strict Mode Complete Configuration
  frontend/src/App.tsx
  frontend/src/AppTest.tsx
  frontend/src/components/auth/OTPVerification.tsx
  frontend/tsconfig.json
Due: frontend

feat(frontend): PostCSS + Tailwind CSS Configuration - Complete Setup
  .workspace/context/todo.md
  frontend/.eslintrc.cjs
  frontend/.prettierignore
  frontend/README.md
  frontend/eslint.config.js
  frontend/jest.config.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/prettier.config.js
  frontend/src/App.tsx
  frontend/src/AppTest.tsx
  frontend/src/components/LoggerExample.tsx
  frontend/src/components/OTPDemo.tsx
  frontend/src/components/auth/ForgotPassword.tsx
  frontend/src/components/auth/OTPVerification.css
  frontend/src/components/auth/OTPVerification.tsx
  frontend/src/components/auth/PasswordReset.css
  frontend/src/components/auth/README.md
  frontend/src/components/auth/ResetPassword.tsx
  frontend/src/components/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useLogger.ts
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/setupTests.ts
  frontend/src/types/logger.d.ts
  frontend/src/utils/__tests__/helpers.test.ts
  frontend/src/utils/logger.ts
  frontend/src/vite-env.d.ts
  frontend/tailwind.config.js
  frontend/test_tailwind.html
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: frontend

feat(theme): Tema Personalizado MeStocker - Branding Completo
  .workspace/context/todo.md
  frontend/src/components/ThemeExample.tsx
  frontend/src/components/index.ts
  frontend/src/index.css
  frontend/tailwind.config.js
Due: frontend

feat(frontend): Sistema Completo de Utility Classes MeStocker
  frontend/src/components/UtilityClassesDemo.tsx
  frontend/src/components/index.ts
  frontend/src/index.css
Due: frontend

feat(ui): Base UI Components System - Button, Input, Card, Modal
  .workspace/context/todo.md
  frontend/src/components/BaseComponentsDemo.tsx
  frontend/src/components/index.ts
  frontend/src/components/ui/Button/Button.tsx
  frontend/src/components/ui/Button/Button.types.ts
  frontend/src/components/ui/Button/index.ts
  frontend/src/components/ui/Card/Card.tsx
  frontend/src/components/ui/Card/Card.types.ts
  frontend/src/components/ui/Card/index.ts
  frontend/src/components/ui/Input/Input.tsx
  frontend/src/components/ui/Input/Input.types.ts
  frontend/src/components/ui/Input/index.ts
  frontend/src/components/ui/Modal/Modal.tsx
  frontend/src/components/ui/Modal/Modal.types.ts
  frontend/src/components/ui/Modal/index.ts
  frontend/src/components/ui/index.ts
Due: frontend

feat(ui): Dark Mode System Complete - Manual Toggle + Persistence
  frontend/src/components/DarkModeDemo.tsx
  frontend/src/components/index.ts
  frontend/src/components/ui/ThemeToggle/ThemeToggle.tsx
  frontend/src/components/ui/ThemeToggle/ThemeToggle.types.ts
  frontend/src/components/ui/ThemeToggle/index.ts
  frontend/src/components/ui/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useTheme.ts
  frontend/src/index.css
  frontend/tailwind.config.js
Due: frontend

feat(routing): React Router v6 Implementation - Vendor Routes System
  .workspace/context/todo.md
  frontend/src/App.tsx
  frontend/src/components/Layout.tsx
  frontend/src/main.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Productos.tsx
  frontend/src/pages/index.ts
Due: frontend

feat(testing): Testing Crítico Completado - 4 Micro-fases Exitosas
  .workspace/context/todo.md
  frontend/jest.config.cjs
  frontend/src/App.tsx
  frontend/src/components/AuthGuard.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/__tests__/AuthGuard.test.tsx
  frontend/src/components/__tests__/Layout.test.tsx
  frontend/src/hooks/__tests__/useTheme.test.ts
  frontend/src/pages/Login.tsx
  frontend/src/pages/__tests__/Dashboard.test.tsx
  frontend/src/pages/__tests__/Login.test.tsx
  frontend/src/pages/__tests__/Productos.test.tsx
  frontend/src/pages/index.ts
  frontend/src/stores/__tests__/authStore.test.ts
  frontend/src/stores/authStore.ts
  frontend/src/stores/index.ts
Due: frontend

feat(testing): Testing Expandido Completado - 5 Micro-fases + Design System
  frontend/src/components/ui/Button/__tests__/Button.test.tsx
Due: none

feat(testing): LOGRO HISTÓRICO - Testing Masivo 90 Tests en 6 Micro-fases
  frontend/src/components/ui/Input/__tests__/Input.test.tsx
Due: none

feat(testing): LOGRO ULTRA MASIVO - 108 Tests + Design System Completo
  frontend/src/components/ui/Card/__tests__/Card.test.tsx
Due: none

feat(navigation): Breadcrumb Navigation Automático por Ruta
  .workspace/context/todo.md
  .workspace/documentacion.md
  frontend/frontend/backup/useBreadcrumb.test.ts.backup.1754859510
  frontend/frontend/backup/useBreadcrumb.test.ts.backup.1754859527
  frontend/jest.config.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/__tests__/ErrorBoundary.test.tsx
  frontend/src/components/ui/Breadcrumb/Breadcrumb.tsx
  frontend/src/components/ui/Breadcrumb/index.ts
  frontend/src/components/ui/Loading/PageLoader.tsx
  frontend/src/components/ui/Loading/__tests__/PageLoader.test.tsx
  frontend/src/components/ui/index.ts
  frontend/src/hooks/__tests__/useBreadcrumb.test.ts
  frontend/src/hooks/useBreadcrumb.ts
  frontend/src/setupTests.ts
  frontend/verify.sh
  frontend/vite.config.ts
  src/App.tsx
  src/components/ErrorBoundary.tsx
  src/components/ui/Loading/PageLoader.tsx
Due: frontend

feat(auth): AuthContext y useAuth Hook - Sistema de Autenticación React
  .workspace/context/todo.md
  frontend/frontend/backup/useBreadcrumb.test.ts.backup.1754859510
  frontend/frontend/backup/useBreadcrumb.test.ts.backup.1754859527
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/__tests__/ErrorBoundary.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/__tests__/AuthContext.test.tsx
  frontend/src/contexts/index.ts
  frontend/src/hooks/__tests__/useAuth.test.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/main.tsx
  frontend/src/pages/NotFound.tsx
  frontend/src/pages/__tests__/NotFound.test.tsx
  frontend/src/pages/index.ts
Due: frontend

feat(auth): AuthContext y useAuth Hook - Sistema de Autenticación React
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/pages/NotFound.tsx
Due: frontend

feat: Tarea 1.4.4.2 - UserContext para Vendedores Completada
  .workspace/context/todo.md
  frontend/src/contexts/UserContext.tsx
  frontend/src/contexts/__tests__/UserContext.test.tsx
  frontend/src/contexts/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useVendor.ts
  frontend/src/main.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/types/index.ts
  frontend/src/types/user.types.ts
Due: frontend

feat: ✅ TAREA 1.4.4.2 COMPLETADA - UserContext para Vendedores
  frontend/src/pages/__tests__/Dashboard.test.tsx
Due: none

test: ✅ Complete useVendor hook testing coverage
  frontend/src/hooks/__tests__/useVendor.test.ts
Due: none

fix(testing): Complete Testing Configuration - jest-dom Integration
  frontend/.appstore_implementation.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Layout.tsx
  frontend/src/hooks/__tests__/useApp.test.ts
  frontend/src/hooks/useApp.ts
  frontend/src/setupTests.ts
  frontend/src/stores/__tests__/appStore.test.ts
  frontend/src/stores/appStore.ts
  frontend/src/stores/index.ts
  frontend/src/types/app.types.ts
  frontend/src/types/index.ts
  frontend/vite.config.ts
Due: frontend

feat(auth): Token Refresh Automático en Background - Sistema Completo
  "$LOG_FILE"
  "$backup_file"
  .workspace/context/todo.md
  =
  =10.0.0
  =23.0.0
  frontend/.env.development
  frontend/src/contexts/AuthContext.tsx
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/__tests__/apiClient.test.ts
  frontend/src/services/__tests__/authInterceptors.test.ts
  frontend/src/services/api.ts
  frontend/src/services/apiClient.ts
  frontend/src/services/authInterceptors.ts
Due: frontend

feat(notifications): NotificationContext & Toast Components - UI System
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/NotificationDemo.tsx
  frontend/src/components/notifications/Toast.tsx
  frontend/src/components/notifications/ToastContainer.tsx
  frontend/src/components/notifications/index.ts
  frontend/src/contexts/NotificationContext.tsx
  frontend/src/tests/components/notifications/Toast.test.tsx
  frontend/src/tests/components/notifications/ToastContainer.test.tsx
  frontend/src/tests/contexts/NotificationContext.test.tsx
  frontend/src/tests/hooks/useNotifications.test.tsx
Due: frontend

feat(frontend): Response Interceptor - Complete Error Handling
  .workspace/context/todo.md
  frontend/src/services/authInterceptors.ts
Due: frontend

feat(api): TypeScript Complete Typing for API Service Layer
  .workspace/context/todo.md
  frontend/src/services/api.ts
  frontend/src/services/authInterceptors.ts
  frontend/src/types/api.types.ts
Due: frontend

fix(frontend): Corrección de errores críticos en tests y stores
  .workspace/context/todo.md
  frontend/src/hooks/__tests__/useApiRequest.simple.test.ts
  frontend/src/hooks/__tests__/useApiRequest.test.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useApiRequest.ts
  frontend/src/services/__tests__/api.test.ts
  frontend/src/stores/__tests__/appStore.errorHandling.test.ts
  frontend/src/stores/__tests__/appStore.simple.test.ts
  frontend/src/stores/appStore.ts
  frontend/src/test/setup.ts
  frontend/src/types/app.types.ts
  package-lock.json
  package.json
  src/hooks/__tests__/useApiRequest.simple.test.ts
  src/hooks/__tests__/useApiRequest.test.ts
  src/stores/__tests__/appStore.errorHandling.test.ts
  src/stores/__tests__/appStore.simple.test.ts
  src/test/setup.ts
  vite.config.ts
Due: frontend

feat(frontend): Tailwind Breakpoints - Responsive Design Complete
  .workspace/context/todo.md
  frontend/tailwind.config.js
Due: none

feat(frontend): Responsive UI Components - Mobile-First Design
  frontend/src/components/ResponsiveDemo.tsx
  frontend/src/components/ui/Button/Button.tsx
  frontend/src/components/ui/Button/__tests__/Button.test.tsx
  frontend/src/components/ui/Card/Card.tsx
  frontend/src/components/ui/Card/__tests__/Card.test.tsx
  frontend/src/components/ui/Input/Input.tsx
  frontend/src/components/ui/Input/__tests__/Input.test.tsx
  frontend/src/components/ui/Modal/Modal.tsx
Due: frontend

feat(mobile-navigation): Mobile Navigation with Hamburger Menu
  frontend/src/components/Layout.tsx
  frontend/src/components/ui/HamburgerIcon/HamburgerIcon.tsx
  frontend/src/components/ui/MobileMenu/MobileMenu.tsx
Due: frontend

feat(mobile): Complete mobile touch optimization implementation
  .workspace/context/todo.md
  frontend/index.html
  frontend/src/App.css
  frontend/src/components/ui/Button/Button.tsx
  frontend/src/components/ui/HamburgerIcon/HamburgerIcon.tsx
  frontend/src/components/ui/Input/Input.tsx
  frontend/src/components/ui/MobileMenu/MobileMenu.tsx
Due: frontend

fix(frontend): Remove invalid className prop from MobileMenu
  .workspace/context/todo.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Layout.tsx
  frontend/src/components/Layout.tsx.backup.20250812_104835
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/__tests__/Dashboard.test.tsx
Due: frontend

🔧 Restore: Sistema completamente restaurado después de rollback crítico
  .workspace/context/todo.md
  frontend/verify.sh
  package-lock.json
  package.json
Due: none

fix(typescript): Resolve syntax errors and test failures
  .workspace/context/todo.md
  frontend/frontend/backup/OTPVerification.tsx.backup.1755027560
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/components/OTPVerification.tsx
  frontend/src/hooks/__tests__/useApiRequest.simple.test.ts
  frontend/src/pages/Login.tsx.backup.manual
  frontend/src/pages/RegisterVendor.tsx
  frontend/src/pages/__tests__/Login.test.tsx
  frontend/src/stores/__tests__/appStore.simple.test.ts
  frontend/src/stores/authStore.ts
Due: frontend

Path conditions:
  backend: any of: app/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.js, **/*.test.jsx, **/tests/, **/test_*.py, **/migrations/, **/node_modules/, **/__pycache__/, **/coverage/, **/dist/, **/build/, frontend/src/setupTests.ts, frontend/src/main.tsx, frontend/src/vite-env.d.ts
  frontend: any of: frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.js, **/*.test.jsx, **/tests/, **/test_*.py, **/migrations/, **/node_modules/, **/__pycache__/, **/coverage/, **/dist/, **/build/, frontend/src/setupTests.ts, frontend/src/main.tsx, frontend/src/vite-env.d.ts
