Repository J41RO/MeStore: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

# Configuraci√≥n de Codecov para MeStore
# https://docs.codecov.com/docs/codecov-yaml

codecov:
 require_ci_to_pass: yes
 notify:
   after_n_builds: 2  # Esperar backend y frontend

coverage:
 precision: 2
 round: down
 range: "70...100"
 
 status:
   project:
     default:
       target: 70%
       threshold: 2%
       if_no_uploads: error
   patch:
     default:
       target: 70%
       threshold: 2%

flags:
 backend:
   paths:
     - app/
   carryforward: false
 frontend:
   paths:
     - frontend/src/
   carryforward: false

ignore:
 - "**/*.test.ts"
 - "**/*.test.tsx"
 - "**/*.test.js"
 - "**/*.test.jsx"
 - "**/tests/"
 - "**/test_*.py"
 - "**/migrations/"
 - "**/node_modules/"
 - "**/__pycache__/"
 - "**/coverage/"
 - "**/dist/"
 - "**/build/"
 - "frontend/src/setupTests.ts"
 - "frontend/src/main.tsx"
 - "frontend/src/vite-env.d.ts"

comment:
 layout: "reach,diff,flags,tree"
 behavior: default
 require_changes: false

fix(marketplace): Use valid sort_by parameter for products endpoint
  frontend/src/pages/MarketplaceHome.tsx
Due: frontend

fix(marketplace): Display authenticated user in navbar
  frontend/src/components/marketplace/MarketplaceNavbar.tsx
Due: frontend

fix(redis): Make Redis completely optional in production
  app/api/v1/deps/auth.py
  app/api/v1/endpoints/health.py
Due: backend

feat(marketplace): FASE A - Product Detail + Cart System Complete
  frontend/src/components/marketplace/CartDrawer.tsx
  frontend/src/contexts/CartContext.tsx
  frontend/src/main.tsx
  frontend/src/pages/ProductDetail.tsx
Due: frontend

fix(marketplace): Product detail stock display and add to cart functionality
  frontend/src/pages/ProductDetail.tsx
Due: frontend

fix(api): Include inventory stock in product responses
  app/api/v1/endpoints/products.py
Due: backend

fix(frontend): Fix undefined status validation in ProductDetail
  frontend/src/pages/ProductDetail.tsx
Due: frontend

fix(frontend): Fix undefined image_url causing startsWith error
  frontend/src/components/marketplace/ProductImageGallery.tsx
Due: frontend

feat(checkout): Complete checkout page with order creation
  frontend/src/App.tsx
  frontend/src/pages/CheckoutPage.tsx
  frontend/src/pages/OrderConfirmationPage.tsx
Due: frontend

fix(checkout): Add timeline, auth check, and robust error handling
  frontend/src/components/checkout/CheckoutTimeline.tsx
  frontend/src/pages/CheckoutPage.tsx
Due: frontend

fix(env): Update production API URL from Render to Railway with HTTPS
  frontend/.env.production
Due: none

fix(checkout): Force HTTPS for Railway backend on Vercel production
  frontend/src/pages/CheckoutPage.tsx
Due: frontend

fix(api): Add trailing slash to orders endpoint to prevent 307 redirect
  frontend/src/pages/CheckoutPage.tsx
Due: frontend

fix(backend): Remove invalid await db.rollback() in orders endpoint
  app/api/v1/endpoints/orders.py
Due: backend

feat(checkout): Auto-populate form with user data and enhance order creation debugging
  frontend/src/pages/CheckoutPage.tsx
Due: frontend

fix(orders): Resolve async relationship loading in order creation
  app/api/v1/endpoints/orders.py
Due: backend

hotfix(orders): Direct stock calculation to bypass async relationship issue
  app/api/v1/endpoints/orders.py
Due: backend

deploy: Force Railway to deploy hotfix 5f263687
  .railway-deploy-trigger
Due: none

test(regression): Add comprehensive regression tests for orders stock fix
  .workspace/orders-regression-tests/FIX_DOCUMENTATION.md
  tests/regression/__init__.py
  tests/regression/test_orders_stock_fix.py
Due: none

force: Railway rebuild without cache - hotfix 5f263687 MUST deploy
  .railway-rebuild-1759995262
Due: none

hotfix(orders): Use Decimal types to prevent CHECK constraint violations
  app/api/v1/endpoints/orders.py
Due: backend

fix(orders): Add VENDOR user_type validation to prevent order creation
  app/api/v1/endpoints/orders.py
Due: backend

force: Deploy VENDOR validation fix (2eca4fd4) - Railway no auto-deployed
  .railway-force-deploy
Due: none

docs(tdd): FASE 1 Complete - Backend checkout flow mapping
  .workspace/checkout-backend-tdd-complete/CHECKOUT_MAP.md
  .workspace/checkout-backend-tdd-complete/COVERAGE_BASELINE.md
  .workspace/checkout-backend-tdd-complete/CURRENT_COVERAGE.txt
  .workspace/checkout-backend-tdd-complete/FILE_LIST.txt
Due: none

test(orders): Add comprehensive RED phase security tests for checkout
  .workspace/checkout-backend-tdd-complete/EXECUTIVE_SUMMARY_RED_PHASE.md
  .workspace/checkout-backend-tdd-complete/RED_PHASE_RESULTS.md
  tests/fixtures/orders/conftest.py
  tests/unit/orders/test_order_authentication.py
  tests/unit/orders/test_order_authorization.py
  tests/unit/orders/test_order_security_vendor_validation.py
Due: none

test(tdd): FASE 2 RED Complete - Comprehensive security test suite
  .workspace/checkout-backend-tdd-complete/FASE_2_RESUMEN_EJECUTIVO.md
  .workspace/checkout-backend-tdd-complete/QUICK_REFERENCE_RED_PHASE.md
Due: none

feat(tdd): Complete FASE 3 GREEN - 27/27 security tests passing (100%)
  app/api/v1/endpoints/admin.py
  app/api/v1/endpoints/orders.py
  app/models/order.py
  e incluye en main
  frontend/src/components/admin/ConfigField.tsx
  frontend/src/components/admin/VendorList.tsx
  frontend/src/components/admin/navigation/__tests__/NavigationProvider.test.tsx
  frontend/src/components/products/ProductTable.tsx
  frontend/src/contexts/__tests__/AuthContext.test.tsx
  frontend/src/utils/mobileUxAudit.ts
  tests/conftest.py
  tests/fixtures/orders/conftest.py
  tests/unit/orders/test_order_authentication.py
  tests/unit/orders/test_order_authorization.py
  tests/unit/orders/test_order_security_vendor_validation.py
Due: backend, frontend

refactor(orders): Apply DRY principles and improve code quality
  app/api/v1/endpoints/orders.py
Due: backend

security(orders): FASE 5 Production Hardening - Input validation & error sanitization
  app/api/v1/endpoints/orders.py
Due: backend

feat(orders): FASE 6 Production Enhancements - Rate Limiting, Validation & Fraud Detection
  app/api/v1/endpoints/orders.py
Due: backend

release(v1.0.0): Production deployment - FASE 6 complete
  .workspace/checkout-deployment/ENV_CHECKLIST.md
  .workspace/checkout-deployment/MIGRATION_STATUS.md
  .workspace/checkout-deployment/RELEASE_NOTES_v1.0.0.md
  docs/SECURITY_AUDIT_REPORT.md
Due: none

feat: Add construction banner to landing page
  frontend/src/App.tsx
  frontend/src/components/ConstructionBanner.tsx
Due: frontend

fix: Position construction banner below fixed navbar
  frontend/src/components/ConstructionBanner.tsx
Due: frontend

feat(auth): Verificación completa registro usuarios - 3 bloqueadores críticos resueltos
  .workspace/verificacion-registro/ESTADO_ACTUAL.md
  .workspace/verificacion-registro/FASE_1_TESTING_RESULTS.md
  .workspace/verificacion-registro/FASE_2_AUDITORIA_SEGURIDAD.md
  .workspace/verificacion-registro/REPORTE_FINAL.md
  app/api/v1/endpoints/auth.py
  app/schemas/auth.py
  frontend/src/components/ConstructionBanner.tsx
  frontend/src/pages/RegisterVendor.tsx
  tests/services/test_auth_service.py
Due: backend, frontend

fix(production): Eliminar Mixed Content - ENV.API_BASE_URL en 15 archivos
  frontend/src/components/admin/DeleteDiagnostic.tsx
  frontend/src/components/admin/InventoryAuditPanel.tsx
  frontend/src/components/admin/LocationAssignmentForm.tsx
  frontend/src/components/admin/ProductRejectionForm.tsx
  frontend/src/components/admin/QRGeneratorForm.tsx
  frontend/src/components/admin/VendorDetail.tsx
  frontend/src/components/checkout/PayUCheckout.tsx
  frontend/src/components/forms/ProductForm.tsx
  frontend/src/components/payments/EfectyInstructions.tsx
  frontend/src/components/vendor/ProductForm.tsx
  frontend/src/pages/ProductDetail.tsx
  frontend/src/pages/admin/ProductApprovalPage.tsx
  frontend/src/pages/admin/UserManagement.tsx
  frontend/src/types/orders.ts
  frontend/src/utils/security.ts
Due: frontend

fix(cors): Add www.mestocker.com to production CORS origins
  app/core/middleware_integration_simple.py
  app/main_production.py
Due: backend

fix(auth): Reorder welcome email to execute before SMS verification
  app/api/v1/endpoints/auth.py
Due: backend

fix(auth): Convert OTP service to async and move welcome email to verification
  app/api/v1/endpoints/auth.py
  app/services/otp_service.py
Due: backend
