Repository J41RO/MeStore: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

# Configuraci√≥n de Codecov para MeStore
# https://docs.codecov.com/docs/codecov-yaml

codecov:
 require_ci_to_pass: yes
 notify:
   after_n_builds: 2  # Esperar backend y frontend

coverage:
 precision: 2
 round: down
 range: "70...100"
 
 status:
   project:
     default:
       target: 70%
       threshold: 2%
       if_no_uploads: error
   patch:
     default:
       target: 70%
       threshold: 2%

flags:
 backend:
   paths:
     - app/
   carryforward: false
 frontend:
   paths:
     - frontend/src/
   carryforward: false

ignore:
 - "**/*.test.ts"
 - "**/*.test.tsx"
 - "**/*.test.js"
 - "**/*.test.jsx"
 - "**/tests/"
 - "**/test_*.py"
 - "**/migrations/"
 - "**/node_modules/"
 - "**/__pycache__/"
 - "**/coverage/"
 - "**/dist/"
 - "**/build/"
 - "frontend/src/setupTests.ts"
 - "frontend/src/main.tsx"
 - "frontend/src/vite-env.d.ts"

comment:
 layout: "reach,diff,flags,tree"
 behavior: default
 require_changes: false

fix(critical): Arreglar infinite loop en ProductForm validateDimensions
  frontend/src/components/forms/ProductForm.tsx
Due: frontend

fix(critical): Deshabilitar validaciones en tiempo real que causan infinite loop
  frontend/src/components/forms/ProductForm.tsx
Due: frontend

debug: Agregar logging extensivo a ProductForm.onFormSubmit
  frontend/src/components/forms/ProductForm.tsx
Due: frontend

debug: Agregar onClick handler al botón submit para diagnosticar disabled
  frontend/src/components/forms/ProductForm.tsx
Due: frontend

fix: Cambiar botón submit a button y forzar ejecución de handleSubmit
  frontend/src/components/forms/ProductForm.tsx
Due: frontend

debug: Agregar try-catch y logging detallado en onClick handler
  frontend/src/components/forms/ProductForm.tsx
Due: frontend

fix: BYPASS React Hook Form - implementar POST directo
  frontend/src/components/forms/ProductForm.tsx
Due: frontend

fix: Búsqueda exhaustiva de token en localStorage y sessionStorage
  frontend/src/components/forms/ProductForm.tsx
Due: frontend

debug: Agregar logging completo al flujo de refresh después de crear producto
  frontend/src/components/AddProductModal.tsx
  frontend/src/components/forms/ProductForm.tsx
  frontend/src/pages/Productos.tsx
Due: frontend

debug: Agregar logging exhaustivo a useProductList hook
  frontend/src/hooks/useProductList.ts
Due: frontend

fix(frontend): Add 500ms delay before closing modal to allow refresh
  frontend/src/components/AddProductModal.tsx
Due: frontend

feat(api): Implement paginated response for GET /productos endpoint
  app/api/v1/endpoints/productos.py
Due: backend

fix(frontend): Fix field name mismatch between backend and frontend
  frontend/src/components/products/ProductTable.tsx
  frontend/src/services/api.ts
Due: frontend

fix(dashboard): Asignar vendedor_id automáticamente en creación de productos
  app/api/v1/endpoints/productos.py
  frontend/src/components/forms/ProductForm.tsx
Due: backend, frontend

feat(products): Implementar sistema de aprobación de productos y métricas de vendedor mejoradas
  app/api/v1/endpoints/categories.py
  app/api/v1/endpoints/productos.py
  app/api/v1/endpoints/vendedores.py
  app/models/product.py
  app/schemas/product.py
  app/schemas/vendedor.py
  frontend/src/App.tsx
  frontend/src/components/admin/navigation/NavigationConfig.ts
  frontend/src/components/dashboard/MetricsGrid.tsx
  frontend/src/components/dashboard/VendorDashboard.tsx
  frontend/src/components/products/ProductTable.tsx
  frontend/src/components/vendor/ProductForm.tsx
  frontend/src/hooks/useVendorMetrics.ts
  frontend/src/pages/admin/ProductApprovalPage.tsx
Due: backend, frontend

fix(ui): Mejorar UX de formulario de productos en modo edición
  frontend/src/components/forms/ProductForm.tsx
Due: frontend

feat(catalog): Implement public product catalog page with filters and pagination
  frontend/src/App.tsx
  frontend/src/pages/PublicCatalog.tsx
Due: frontend

fix(products): Fix product listing endpoint returning empty data
  app/api/v1/endpoints/products.py
Due: backend

feat(frontend): Add /productos/:id and /catalog/:id routes for product detail page
  PRODUCT_DETAIL_IMPLEMENTATION.md
  PRODUCT_DETAIL_TESTING_GUIDE.md
  frontend/src/App.tsx
Due: frontend

refactor(frontend): Consolidate search implementations to single MarketplaceSearch
  frontend/docs/SEARCH_CONSOLIDATION_DECISION.md
  frontend/src/pages/MarketplaceSearch.tsx
  frontend/src/pages/SearchPage.tsx
Due: frontend

feat(critical): Resolve 3 critical issues - cart, orders, and payments
  .env.development
  .workspace/departments/backend/backend-framework-ai/ORDERS_RESTORATION_PLAN.md
  .workspace/departments/backend/backend-framework-ai/ORDERS_RESTORATION_REPORT.md
  .workspace/departments/frontend/react-specialist-ai/STORE_UNIFICATION_DECISION.md
  .workspace/departments/frontend/react-specialist-ai/STORE_UNIFICATION_REPORT.md
  .workspace/specialized-domains/payment-systems/QUICK_SETUP_GUIDE.md
  .workspace/specialized-domains/payment-systems/WOMPI_INTEGRATION_PLAN.md
  .workspace/specialized-domains/payment-systems/WOMPI_INTEGRATION_REPORT.md
  app/api/v1/endpoints/orders.py
  app/api/v1/endpoints/payments.py
  frontend/index.html
  frontend/src/components/checkout/WompiCheckout.tsx
  frontend/src/components/marketplace/AddToCartButton.tsx
  frontend/src/components/marketplace/CartButton.tsx
  frontend/src/components/marketplace/CartDrawer.tsx
  frontend/src/store/cartStore.ts
  frontend/src/stores/checkoutStore.ts
Due: backend, frontend

feat(payments): Implement complete payment methods endpoint for E2E testing
  .workspace/specialized-domains/payment-systems/IMPLEMENTATION_REPORT_2025-10-01.md
  .workspace/specialized-domains/payment-systems/PAYMENT_METHODS_ENDPOINT.md
  .workspace/specialized-domains/payment-systems/README.md
  app/api/v1/endpoints/payments.py
  app/schemas/payment.py
Due: backend

feat(catalog): Fix 5 critical public catalog issues for production-ready UX
  frontend/src/components/marketplace/AddToCartButton.tsx
  frontend/src/components/marketplace/PopularCategories.tsx
  frontend/src/components/products/ProductFilters.tsx
  frontend/src/pages/MarketplaceHome.tsx
  frontend/src/pages/PublicCatalog.tsx
Due: frontend

fix(marketplace): Resolve categories loading and API integration issues
  frontend/src/App.tsx
  frontend/src/components/marketplace/PopularCategories.tsx
  frontend/src/components/products/ProductFilters.tsx
  frontend/src/services/api.ts
  frontend/src/types/category.types.ts
Due: frontend

feat(ui): Add compact mode for AddToCartButton in marketplace cards
  frontend/src/components/marketplace/AddToCartButton.tsx
  frontend/src/components/marketplace/FeaturedProducts.tsx
Due: frontend

feat(cart): Implement complete shopping cart system for marketplace
  frontend/SHOPPING_CART_IMPLEMENTATION.md
  frontend/src/App.tsx
  frontend/src/components/cart/MiniCart.tsx
  frontend/src/components/layout/Navbar.tsx
  frontend/src/pages/Cart.tsx
Due: frontend

fix(checkout): Fix infinite loading and implement proper authentication flow
  frontend/src/pages/Cart.tsx
  frontend/src/pages/CheckoutPage.tsx
  frontend/src/pages/Login.tsx
Due: frontend

fix(auth): Fix JWT token key inconsistency in service interceptors
  frontend/src/services/orderService.ts
  frontend/src/services/productImageService.ts
  frontend/src/services/productValidationService.ts
Due: frontend

feat(payments): Integrate PayU and Efecty payment gateways with multi-gateway fallback
  app/api/v1/endpoints/payments.py
  app/schemas/payment.py
  app/services/integrated_payment_service.py
Due: backend

feat(product): Add comprehensive MVP feature completeness analysis
  MVP_EXECUTIVE_SUMMARY.md
  MVP_FEATURE_COMPLETENESS_REPORT.md
  app/api/v1/endpoints/webhooks.py
  app/core/config.py
  frontend/src/components/cart/CartSidebar.tsx
  frontend/src/components/cart/MobileCartDrawer.tsx
  frontend/src/components/checkout/AddressForm.tsx
  frontend/src/components/checkout/steps/CartStep.tsx
  frontend/src/components/checkout/steps/ConfirmationStep.tsx
  frontend/src/components/checkout/steps/PaymentStep.tsx
  frontend/src/components/payments/PSEForm.tsx
  frontend/src/pages/CartPage.tsx
  frontend/src/pages/CheckoutPage.tsx
  frontend/src/stores/checkoutStore.ts
  frontend/src/types/orders.ts
Due: backend, frontend

feat(product): Add detailed MVP implementation checklist
  MVP_IMPLEMENTATION_CHECKLIST.md
Due: none

feat(orders): Implement buyer dashboard tracking and cancellation endpoints
  .workspace/departments/backend/backend-framework-ai/docs/BUYER_DASHBOARD_ENDPOINTS_IMPLEMENTATION.md
  BUYER_DASHBOARD_COMPLETION_SUMMARY.md
  alembic/versions/2025_10_03_0614-34bac231e539_add_cancellation_fields_to_orders.py
  app/api/v1/endpoints/orders.py
  app/models/order.py
  app/schemas/order.py
  tests/api/test_orders_buyer.py
Due: backend

feat(buyer): Integrate order tracking and cancellation in buyer dashboard
  frontend/src/App.tsx
  frontend/src/components/buyer/BuyerOrderDashboard.tsx
  frontend/src/components/buyer/OrderCancelModal.tsx
  frontend/src/components/buyer/OrderTrackingModal.tsx
  frontend/src/services/orderService.ts
Due: frontend

docs(buyer): Add comprehensive integration summary for buyer dashboard
  BUYER_DASHBOARD_INTEGRATION_SUMMARY.md
Due: none

feat(vendor): Add vendor orders management endpoints
  VENDOR_ORDERS_API_IMPLEMENTATION.md
  VENDOR_ORDERS_QUICK_SUMMARY.md
  app/api/v1/__init__.py
  app/api/v1/endpoints/vendor_orders.py
  test_vendor_api_endpoints.sh
Due: backend

feat(vendor): Add complete vendor orders management frontend
  VENDOR_ORDERS_FRONTEND_IMPLEMENTATION.md
  frontend/src/App.tsx
  frontend/src/pages/vendor/VendorOrders.tsx
  frontend/src/services/vendorOrderService.ts
Due: frontend

fix(vendor): Fix ESLint and TypeScript errors in vendor orders
  VENDOR_ORDERS_FRONTEND_SUMMARY.md
  VENDOR_ORDERS_TESTING_GUIDE.md
  frontend/src/pages/vendor/VendorOrders.tsx
  frontend/src/services/vendorOrderService.ts
Due: frontend

feat(shipping): Implement basic shipping tracking system MVP
  SHIPPING_MVP_EXECUTIVE_SUMMARY.md
  SHIPPING_SYSTEM_IMPLEMENTATION.md
  alembic/versions/2025_10_03_0716-db108145b492_add_shipping_tracking_fields_to_orders.py
  app/api/v1/__init__.py
  app/api/v1/endpoints/shipping.py
  app/models/order.py
  app/schemas/shipping.py
  frontend/src/components/shipping/ShippingAssignmentModal.tsx
  frontend/src/components/shipping/ShippingLocationUpdateModal.tsx
  frontend/src/components/shipping/ShippingTrackingTimeline.tsx
  frontend/src/services/shippingService.ts
  tests/test_shipping_endpoints.py
Due: backend, frontend
