Repository J41RO/MeStore: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

hotfix(auth): Fix NameError in OTPService._clear_otp_data
  app/services/otp_service.py
Due: backend

hotfix: Add await to OTPService async method calls in auth_service
  app/services/auth_service.py
Due: backend

feat(sms): Replace Twilio with Bird SMS API
  .env.example
  app/core/config.py
  app/services/sms_service.py
Due: backend

hotfix(deps): Add httpx dependency for Bird SMS API
  requirements_production.txt
Due: none

fix(sms): Fix asyncio.run() error in Bird SMS service
  app/services/auth_service.py
  app/services/sms_service.py
Due: backend

revert(sms): Restore Twilio SMS integration, remove Bird API
  .env.example
  app/core/config.py
  app/services/sms_service.py
  requirements_production.txt
Due: backend

fix(sms): Secure Twilio credentials via environment variables
  .env.example
  app/core/config.py
Due: backend

fix(auth): Add email and SMS verification to /register endpoint
  app/api/v1/endpoints/auth.py
  app/schemas/auth.py
Due: backend

fix(frontend): Complete buyer registration flow - add phone and name to register request
  frontend/src/components/auth/RegisterForm.tsx
  frontend/src/services/authService.ts
  frontend/src/stores/authStore.ts
  frontend/src/types/auth.types.ts
Due: frontend

feat: Add multi-type registration endpoint
  alembic/versions/2025_10_11_0655-eff21666914a_add_email_verification_token_fields_to_.py
  alembic/versions/2025_10_11_0714-eed5e29cc9eb_add_vendor_type_fields_for_persona_.py
  alembic/versions/2025_10_11_0722-063355405f32_add_vendor_type_fields_for_persona_.py
  app/api/v1/endpoints/auth.py
  app/models/user.py
  app/schemas/auth.py
Due: backend

fix(auth): Add FRONTEND_URL config for email verification links
  alembic/versions/2025_10_11_0747-7fa3d3be7e02_add_email_verification_token_fields.py
  app/core/config.py
  migrations_sql/add_email_verification_token_fields.sql
  migrations_sql/add_vendor_juridica_fields.sql
Due: backend

feat(frontend): Implement multi-type registration flow (BUYER, VENDOR Natural/Jurídica)
  frontend/src/App.tsx
  frontend/src/pages/EmailVerificationHandler.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/RegisterMultiType.tsx
  frontend/src/pages/UserTypeSelector.tsx
Due: frontend

fix(sms): Fix SMS verification to use Twilio Verify API end-to-end
  app/api/v1/endpoints/auth.py
  frontend/src/components/OTPVerification.tsx
  frontend/src/components/auth/OTPVerification.tsx
Due: backend, frontend

fix(frontend): Add /verify-sms route and pass phone to verification
  frontend/src/App.tsx
  frontend/src/pages/RegisterMultiType.tsx
Due: frontend

fix(frontend): Fix registration flow routing and SMS verification
  frontend/src/pages/RegisterVendor.tsx
  frontend/src/pages/UserTypeSelector.tsx
Due: frontend

fix(sms): Add TWILIO_VERIFY_SERVICE_SID to enable real Twilio verification
  TWILIO_FIX_README.md
Due: none

fix(frontend): SMS verification now advances to step 4 after success
  frontend/src/pages/RegisterVendor.tsx
Due: frontend

fix(security): HOTFIX - Correct logging syntax in SMS security module
  app/core/sms_security.py
  tests/unit/test_sms_security.py
Due: backend

feat(security): Implement enterprise SMS security + rate limiting + validation
  .workspace/PHASE_1_SECURITY_IMPLEMENTATION.md
  .workspace/PHASE_2_EXECUTIVE_SUMMARY.md
  .workspace/PHASE_2_TESTING_STRATEGY_DESIGN.md
  .workspace/departments/testing/sections/unit-testing/PHASE_2_TEST_IMPLEMENTATION_SUMMARY.md
  .workspace/departments/testing/sections/unit-testing/docs/CRITICAL_BUG_SMS_SECURITY_LOGGING.md
  .workspace/departments/testing/sections/unit-testing/docs/decision-log.md
  app/api/v1/endpoints/auth.py
  requirements.txt
  tests/conftest.py
  tests/integration/test_sms_security_endpoint.py
Due: backend

fix(deps): Ensure phonenumbers in production requirements
  requirements_production.txt
Due: none

test(integration): Complete FASE 3 - SMS security integration tests
  tests/conftest.py
  tests/integration/SMS_SECURITY_INTEGRATION_TESTS_REPORT.md
  tests/integration/test_sms_security_endpoint.py
Due: none

test(e2e): Complete FASE 4 - Playwright E2E SMS verification testing
  .workspace/departments/testing/e2e-testing-ai/reports/EXECUTIVE_SUMMARY.md
  .workspace/departments/testing/e2e-testing-ai/reports/SMS_VERIFICATION_E2E_REPORT_2025-10-12.md
  FASE_4_E2E_TESTING_COMPLETE.md
  FASE_4_FILE_SUMMARY.txt
  frontend/tests/e2e/SMS_VERIFICATION_E2E_REPORT.md
  frontend/tests/e2e/fixtures/test-data.ts
  frontend/tests/e2e/sms-verification.spec.ts
  frontend/tests/e2e/utils/sms-helpers.ts
Due: none

docs(fase5): Complete performance analysis - RegistrationWizard optimization
  .workspace/departments/frontend/sections/performance-optimization/docs/decision-log.md
  .workspace/departments/frontend/sections/performance-optimization/reports/REGISTRATION_WIZARD_PERFORMANCE_ANALYSIS.md
  .workspace/departments/frontend/sections/performance-optimization/tasks/current-tasks.md
Due: none

docs: Add comprehensive status document for registration flow with SMS
  ESTADO_ACTUAL_REGISTRO_SMS.md
Due: none

refactor(frontend): Remove legacy registration routes, keep only /user-type-selector flow
  frontend/src/App.tsx
Due: frontend

fix(landing): Redirect all registration CTAs to /user-type-selector
  frontend/src/components/DashboardSection.tsx
  frontend/src/components/landing/HeroSection.tsx
  frontend/src/components/landing/ProcessSection.tsx
Due: frontend

fix(registration): Dirección obligatoria para BUYER y mensaje 72h
  frontend/src/pages/RegistrationPending.tsx
  frontend/src/pages/RegistrationWizard.tsx
  scripts/analysis/analisis_tests_completo.py
  scripts/analysis/analyze_backend_structure.py
  scripts/analysis/api_coverage_analysis.py
  scripts/analysis/enhanced_api_coverage_analyzer.py
  scripts/maintenance/add_deprecation_warnings.py
Due: frontend

docs(reorganize): Move architecture files to docs/architecture/system-design/
  docs/architecture/system-design/API_ARCHITECTURE_DIAGRAM.md
  docs/architecture/system-design/BACKEND_STRUCTURE_ANALYSIS.md
  scripts/database/create_schema.py
  scripts/database/create_superuser.py
Due: none

docs(reorganize): Move setup guides to docs/guides/setup/
  docs/guides/setup/DATABASE_CONFIG.md
  docs/guides/setup/DATABASE_RESET_QUICK_START.md
  docs/guides/setup/DATABASE_SETUP.md
  docs/guides/setup/SMS_GATEWAY_SETUP_GUIDE.md
  docs/guides/setup/TWILIO_FIX_README.md
  docs/guides/setup/TWILIO_SETUP_GUIDE.md
Due: none

docs(reorganize): Move feature guides to docs/guides/features/
  docs/guides/features/CHECKOUT_VALIDATION_GUIDE.md
  docs/guides/features/PRODUCT_DETAIL_TESTING_GUIDE.md
  docs/guides/features/VENDOR_ORDERS_TESTING_GUIDE.md
  docs/guides/features/VENDOR_REGISTRATION_GUIDE.md
Due: none

docs(reorganize): Move integration guides to docs/guides/integration/
  docs/guides/integration/PAYMENT_INTEGRATION_COMPLETE_GUIDE.md
  docs/guides/integration/WOMPI_INTEGRATION_FLOW_DIAGRAM.md
  docs/guides/integration/WOMPI_QUICK_REFERENCE.md
Due: none

docs(reorganize): Move testing reports to docs/reports/testing/2025-Q4/
  docs/reports/testing/2025-Q4/ENDPOINT_VALIDATION_REPORT.md
  docs/reports/testing/2025-Q4/INTEGRATION_FIXES_SUMMARY.md
  docs/reports/testing/2025-Q4/INTEGRATION_QUALITY_ASSESSMENT_REPORT.md
  docs/reports/testing/2025-Q4/INTEGRATION_TESTING_REPORT.md
  docs/reports/testing/2025-Q4/PERFORMANCE_TESTING_COVERAGE_ACCELERATION_REPORT.md
  docs/reports/testing/2025-Q4/TDD_CORE_MODULES_FINAL_REPORT.md
  docs/reports/testing/2025-Q4/TDD_MODEL_COVERAGE_MISSION_REPORT.md
  docs/reports/testing/2025-Q4/TDD_RED_PHASE_FIXES_SUMMARY.md
  docs/reports/testing/2025-Q4/TDD_SECURITY_ANALYSIS_REPORT.md
  docs/reports/testing/2025-Q4/USER_CREATE_MODAL_VALIDATION_REPORT.md
Due: none

docs(reorganize): Move implementation reports to docs/reports/implementation/2025-Q4
  docs/reports/implementation/2025-Q4/ADMIN_ORDERS_IMPLEMENTATION_SUMMARY.md
  docs/reports/implementation/2025-Q4/BUYER_DASHBOARD_COMPLETION_SUMMARY.md
  docs/reports/implementation/2025-Q4/BUYER_DASHBOARD_INTEGRATION_SUMMARY.md
  docs/reports/implementation/2025-Q4/CATALOG_FIXES_COMPLETE_REPORT.md
  docs/reports/implementation/2025-Q4/FEATURES_IMPLEMENTATION_COMPLETE_SUMMARY.md
  docs/reports/implementation/2025-Q4/MIGRATION_COMPLETE_REPORT.md
  docs/reports/implementation/2025-Q4/PRODUCTCARD_CONSOLIDATION_IMPLEMENTATION.md
  docs/reports/implementation/2025-Q4/PRODUCT_DETAIL_IMPLEMENTATION.md
  docs/reports/implementation/2025-Q4/QUICK_WINS_COMPLETED_REPORT.md
  docs/reports/implementation/2025-Q4/SHIPPING_SYSTEM_IMPLEMENTATION.md
  docs/reports/implementation/2025-Q4/SHIPPING_UI_INTEGRATION_SUMMARY.md
  docs/reports/implementation/2025-Q4/SHOPPING_CART_IMPLEMENTATION_REPORT.md
  docs/reports/implementation/2025-Q4/SMS_GATEWAY_IMPLEMENTATION_SUMMARY.md
  docs/reports/implementation/2025-Q4/SUPERUSER_ADMIN_IMPLEMENTATION.md
  docs/reports/implementation/2025-Q4/WOMPI_CHECKOUT_INTEGRATION_SUMMARY.md
Due: none

docs(reorganize): Move testing reports to docs/reports/testing/2025-Q4
  docs/reports/bugs/2025-Q4/CHECKOUT_AUTH_FIX_SUMMARY.md
  docs/reports/bugs/2025-Q4/CHECKOUT_DEBUG_OVERLAY_INVESTIGATION.md
  docs/reports/bugs/2025-Q4/CHECKOUT_OVERLAY_FIX_GUIDE.md
  docs/reports/bugs/2025-Q4/CHECKOUT_PSE_FIX_SUMMARY.md
  docs/reports/bugs/2025-Q4/DECIMAL_TYPE_FIX_SUMMARY.md
  docs/reports/bugs/2025-Q4/ERROR_400_FRONTEND_DISCOVERY.md
  docs/reports/bugs/2025-Q4/ERROR_400_ORDER_CREATION_ANALYSIS.md
  docs/reports/bugs/2025-Q4/ORDER_403_ERROR_FIX_VERIFICATION.md
  docs/reports/bugs/2025-Q4/PAYMENT_BUG_FIX_GUIDE.md
  docs/reports/bugs/2025-Q4/PSE_LOOP_INFINITO_FIX_VERIFICATION.md
  docs/reports/bugs/2025-Q4/RATING_NULL_SAFETY_FIX.md
  docs/reports/testing/2025-Q4/COMPREHENSIVE_PAYMENT_API_TEST_REPORT.md
  docs/reports/testing/2025-Q4/E2E_TESTING_ARCHITECTURE.md
  docs/reports/testing/2025-Q4/E2E_TESTING_COMPLETE_SUMMARY.md
  docs/reports/testing/2025-Q4/E2E_TESTING_SUMMARY.md
  docs/reports/testing/2025-Q4/FASE_4_E2E_TESTING_COMPLETE.md
  docs/reports/testing/2025-Q4/FASE_4_TESTING_CONSOLIDATED_REPORT.md
  docs/reports/testing/2025-Q4/PAYMENT_API_TESTING_EXECUTIVE_SUMMARY.md
  docs/reports/testing/2025-Q4/PAYMENT_API_TEST_REPORT.md
  docs/reports/testing/2025-Q4/PAYMENT_INTEGRATION_TEST_REPORT.md
Due: none

docs(reorganize): Move audit reports to docs/reports/audits/2025-Q4
  docs/reports/audits/2025-Q4/API_DUPLICATIONS_ANALYSIS.md
  docs/reports/audits/2025-Q4/BACKEND_API_MVP_AUDIT_REPORT.md
  docs/reports/audits/2025-Q4/BACKEND_API_QUICK_SUMMARY.md
  docs/reports/audits/2025-Q4/BEFORE_AFTER_COMPARISON.md
  docs/reports/audits/2025-Q4/FLOAT_TO_DECIMAL_MIGRATION_ANALYSIS.md
  docs/reports/audits/2025-Q4/MVP_FEATURE_COMPLETENESS_REPORT.md
  docs/reports/audits/2025-Q4/PRODUCTCARD_CONSOLIDATION_REPORT.md
  docs/reports/audits/2025-Q4/PRODUCT_API_AUDIT_REPORT.md
  docs/reports/audits/2025-Q4/PUBLIC_CATALOG_AUDIT.md
  docs/reports/audits/2025-Q4/STOCK_PROBLEM_ANALYSIS_REPORT.md
  docs/reports/audits/2025-Q4/UX_UI_MVP_AUDIT_REPORT.md
Due: none

docs(reorganize): Move executive reports to docs/executive/
  docs/executive/BUYER_DASHBOARD_EXECUTIVE_SUMMARY.md
  docs/executive/FLOAT_TO_DECIMAL_EXECUTIVE_SUMMARY.md
  docs/executive/MVP_CONSOLIDATED_REPORT.md
  docs/executive/MVP_EXECUTIVE_SUMMARY.md
  docs/executive/QA_FIXES_EXECUTIVE_SUMMARY.md
  docs/executive/RACE_CONDITION_EXECUTIVE_SUMMARY.md
  docs/executive/ROADMAP_STATUS_UPDATE_2025-10-02.md
  docs/executive/ROADMAP_STRATEGIC_COMPLETION.md
  docs/executive/SHIPPING_MVP_EXECUTIVE_SUMMARY.md
  docs/executive/STOCK_FIX_EXECUTIVE_SUMMARY.md
  docs/executive/VENDOR_ORDER_MANAGEMENT_EXECUTIVE_SUMMARY.md
Due: none

docs(reorganize): Move performance and stock reports to appropriate locations
  docs/reports/bugs/2025-Q4/PRODUCT_API_FIXES_SUMMARY.md
  docs/reports/bugs/2025-Q4/SHIPPING_FORM_VALIDATION_FIX.md
  docs/reports/bugs/2025-Q4/UX_BUGS_FIXED_REPORT.md
  docs/reports/bugs/2025-Q4/VALIDATION_ERROR_REPORT_422.md
  docs/reports/implementation/2025-Q4/STOCK_FIX_VALIDATION_PLAN.md
  docs/reports/implementation/2025-Q4/STOCK_INVENTORY_SOLUTION_SUMMARY.md
  docs/reports/implementation/2025-Q4/STOCK_SOLUTION_SUCCESS_REPORT.md
  docs/reports/performance/2025-Q4/FLOAT_DECIMAL_VISUAL_DIAGRAM.md
  docs/reports/performance/2025-Q4/FLOAT_TO_DECIMAL_FINAL_SUMMARY.md
Due: none

docs(reorganize): Move vendor orders and payment reports to docs/reports/implementation/2025-Q4
  docs/reports/implementation/2025-Q4/FASE_4_PAYMENT_INTEGRATION_SUMMARY.md
  docs/reports/implementation/2025-Q4/PAYMENT_SYSTEMS_PROGRESS_REPORT.md
  docs/reports/implementation/2025-Q4/PAYU_EFECTY_INTEGRATION_REPORT.md
  docs/reports/implementation/2025-Q4/VENDOR_ORDERS_API_IMPLEMENTATION.md
  docs/reports/implementation/2025-Q4/VENDOR_ORDERS_FRONTEND_IMPLEMENTATION.md
  docs/reports/implementation/2025-Q4/VENDOR_ORDERS_FRONTEND_SUMMARY.md
  docs/reports/implementation/2025-Q4/VENDOR_ORDERS_QUICK_SUMMARY.md
  docs/reports/implementation/2025-Q4/VENDOR_ORDERS_READY.md
  docs/reports/implementation/2025-Q4/VENDOR_ORDER_IMPLEMENTATION_CHECKLIST.md
  docs/reports/implementation/2025-Q4/VENDOR_ORDER_MANAGEMENT_IMPLEMENTATION_PLAN.md
  docs/reports/implementation/2025-Q4/VENDOR_ORDER_UI_MOCKUPS_AND_FLOWS.md
  docs/reports/implementation/2025-Q4/WOMPI_INTEGRATION_COMPLETE.md
Due: none

docs(reorganize): Move final guides and references to appropriate docs/ locations
  docs/executive/API_ROADMAP_POST_MVP.md
  docs/executive/MVP_IMPLEMENTATION_CHECKLIST.md
  docs/executive/NEXT_STEPS_VENDOR_ORDER_MANAGEMENT.md
  docs/executive/TODO_MVP_VENDOR_FLOW.md
  docs/guides/features/MAINTENANCE_STRATEGY_RECOMMENDATIONS.md
  docs/guides/features/SAFE_API_MIGRATION_STRATEGY.md
  docs/guides/setup/DATABASE_CONSTRAINTS_IMPLEMENTATION_PLAN.md
  docs/guides/validation/VALIDATION_RULES_REFERENCE.md
  docs/reports/bugs/2025-Q4/DIAGNOSTICO_PROBLEMAS_REGISTRO.md
  docs/reports/implementation/2025-Q4/ESTADO_ACTUAL_REGISTRO_SMS.md
  docs/reports/implementation/2025-Q4/SOLUTION_SUMMARY.md
Due: none

docs(reorganize): Move architecture and design documentation to docs/
  docs/architecture/ARCHITECTURE_DESIGN_EXECUTIVE_SUMMARY.md
  docs/architecture/ARCHITECTURE_DESIGN_INDEX.md
  docs/architecture/DIRECTORY_STRUCTURE_DESIGN.md
  docs/architecture/FASE_1_ARCHITECTURE_DESIGN_COMPLETE.md
  docs/guides/features/FILE_PLACEMENT_GUIDE.md
  docs/guides/features/NAMING_CONVENTIONS.md
  docs/guides/features/README_TEMPLATES.md
Due: none

Path conditions:
  backend: any of: app/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.js, **/*.test.jsx, **/tests/, **/test_*.py, **/migrations/, **/node_modules/, **/__pycache__/, **/coverage/, **/dist/, **/build/, frontend/src/setupTests.ts, frontend/src/main.tsx, frontend/src/vite-env.d.ts
  frontend: any of: frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.js, **/*.test.jsx, **/tests/, **/test_*.py, **/migrations/, **/node_modules/, **/__pycache__/, **/coverage/, **/dist/, **/build/, frontend/src/setupTests.ts, frontend/src/main.tsx, frontend/src/vite-env.d.ts
