Repository J41RO/MeStore: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

# Configuraci√≥n de Codecov para MeStore
# https://docs.codecov.com/docs/codecov-yaml

codecov:
 require_ci_to_pass: yes
 notify:
   after_n_builds: 2  # Esperar backend y frontend

coverage:
 precision: 2
 round: down
 range: "70...100"
 
 status:
   project:
     default:
       target: 70%
       threshold: 2%
       if_no_uploads: error
   patch:
     default:
       target: 70%
       threshold: 2%

flags:
 backend:
   paths:
     - app/
   carryforward: false
 frontend:
   paths:
     - frontend/src/
   carryforward: false

ignore:
 - "**/*.test.ts"
 - "**/*.test.tsx"
 - "**/*.test.js"
 - "**/*.test.jsx"
 - "**/tests/"
 - "**/test_*.py"
 - "**/migrations/"
 - "**/node_modules/"
 - "**/__pycache__/"
 - "**/coverage/"
 - "**/dist/"
 - "**/build/"
 - "frontend/src/setupTests.ts"
 - "frontend/src/main.tsx"
 - "frontend/src/vite-env.d.ts"

comment:
 layout: "reach,diff,flags,tree"
 behavior: default
 require_changes: false

fix(testing): Add missing log_security_event method to SecurityAuditLogger
  app/services/secure_auth_service.py
Due: backend

fix(tests): Fix mock configuration issues in auth rate limiting middleware tests
  tests/unit/middleware/test_auth_rate_limiting.py
Due: none

fix(admin): Add missing security_clearance_level field assignment in admin user creation
  app/api/v1/endpoints/admin.py
Due: backend

fix(tdd): Align secure auth service tests with implementation using proper TDD methodology
  tests/unit/services/test_secure_auth_service.py
Due: none

feat(tdd): Transform E2E security tests to follow strict TDD methodology
  TDD_SECURITY_ANALYSIS_REPORT.md
  tests/e2e/admin_management/test_admin_security_flows.py
Due: none

feat(testing): Fix integration issues in E2E admin security flows
  INTEGRATION_FIXES_SUMMARY.md
  tests/e2e/admin_management/test_admin_security_flows.py
  tests/unit/services/test_secure_auth_service.py
Due: none

fix(testing): Fix async mocking issues in secure auth service tests
  BACKEND_STRUCTURE_ANALYSIS.md
  docs/TDD_RATE_LIMITING_SOLUTION.md
  tests/integration/admin_management/conftest.py
  tests/integration/admin_management/test_admin_cross_system_integration.py
  tests/unit/middleware/test_auth_rate_limiting.py
  tests/unit/middleware/test_auth_rate_limiting_fixed.py
  tests/unit/middleware/test_auth_rate_limiting_simple.py
Due: none

feat(api-testing): Comprehensive API security testing suite enhancements
  tests/e2e/admin_management/test_admin_security_flows.py
Due: none

fix(integration): Fix concurrent database transaction test errors with proper session isolation
  tests/integration/admin_management/test_admin_database_integration.py
Due: none

fix(testing): Fix integration orchestration test Contract Integration dependencies
  tests/integration/admin_management/test_admin_integration_orchestrator.py
Due: none

fix(integration-testing): Fix email service fixture setup error
  tests/integration/admin_management/conftest.py
  tests/integration/admin_management/test_admin_integration_runner.py
Due: none

fix(integration-testing): Fix dependency mocking issue in test_auto_assign_location_invalid_status
  tests/unit/admin/test_admin_storage_management_red.py
Due: none

fix(integration-testing): Fix authentication mocking in admin storage management RED tests
  tests/unit/admin/test_admin_storage_management_red.py
Due: none

fix(integration-testing): Fix authentication mocking in admin workflow verification RED test
  tests/unit/admin/test_admin_workflow_verification_red.py
Due: none

fix(testing): Refactor database reset tests to use dependency override pattern instead of patch mocking
  tests/api/v1/endpoints/test_database_reset.py
Due: none

feat(workspace): Implement Claude Code protocol system with automatic delegation
  .workspace/CLAUDE_CODE_PROTOCOL.md
  .workspace/ENHANCED_DELEGATION_SYSTEM.md
  .workspace/EXECUTIVE_SUMMARY_ENHANCED_SYSTEM.md
  .workspace/scripts/agent_decision_evaluator.py
  .workspace/scripts/auto_delegate_to_responsible_agent.py
  .workspace/scripts/check_delegation_status.py
  .workspace/scripts/claude_code_aliases.sh
  .workspace/scripts/claude_code_interceptor.py
  .workspace/scripts/install_claude_code_protocol.sh
  .workspace/scripts/traceability_manager.py
  .workspace/scripts/verify_claude_protocol.py
  app/api/v1/endpoints/comisiones.py
  tests/api/test_comisiones.py
  tests/performance/test_boundary_negative_scenarios.py
  tests/performance/test_load_testing_scenarios.py
Due: backend

fix(auth-admin): Fix authentication system and admin management tests
  CLAUDE.md
  app/api/v1/endpoints/admin.py
  app/api/v1/endpoints/auth.py
  app/api/v1/endpoints/products.py
  app/core/config.py
  app/core/integrated_auth.py
  app/core/security.py
  frontend/src/App.tsx
  frontend/src/pages/RegisterVendor.tsx
  tests/conftest.py
  tests/integration/admin_management/conftest.py
  tests/integration/admin_management/fixtures/integration_fixtures.py
  tests/integration/admin_management/test_admin_cross_system_integration.py
  tests/integration/admin_management/test_admin_integration_runner.py
  tests/integration/admin_management/test_admin_notification_integration.py
  tests/integration/admin_management/test_admin_performance_integration.py
  tests/integration/admin_management/test_admin_service_integration.py
  tests/integration/admin_management/test_admin_session_integration.py
  tests/integration/admin_management/test_admin_workflows.py
  tests/unit/admin/test_admin_dashboard_kpis_red.py
  tests/unit/admin/test_admin_qr_management_red.py
  tests/unit/admin/test_admin_security_authorization_red.py
  tests/unit/admin/test_admin_workflow_verification_red.py
  tests/unit/admin_management/test_admin_monitoring_analytics_red.py
Due: backend, frontend

refactor(services): Update service layer and core infrastructure
  .workspace/scripts/agent_workspace_validator.py
  BACKEND_STRUCTURE_ANALYSIS.md
  app/api/v1/__init__.py
  app/api/v1/deps/__init__.py
  app/database/__init__.py
  app/schemas/auth.py
  app/services/admin_permission_service.py
  app/services/auth_service.py
  app/services/notification_service.py
  app/services/sms_service.py
  app/services/storage_manager_service.py
  app/utils/benchmark.py
  app/utils/password.py
  tests/integration/test_admin_quality_assessment_red.py
  tests/integration/test_admin_verification_workflows_red.py
  tests/integration/test_red_validation.py
Due: backend

fix(tests-frontend): Complete test fixes and frontend auth service updates
  frontend/src/services/authApiService.ts
  frontend/src/services/authService.ts
  tests/e2e/admin_management/test_admin_security_flows.py
  tests/integration/app/test_main_middleware_integration.py
  tests/integration/workflow/test_e2e_production_readiness.py
  tests/integration/workflow/test_workflow_fixed.py
  tests/integration/workflows/test_user_journeys.py
  tests/models/test_product_model_comprehensive_tdd.py
Due: frontend

chore(cleanup): Remove temporary QR code files from testing
  qr_codes/qr_MS-20250910212034-E8C41B7E_20250910_212034.png
  qr_codes/qr_MS-20250910212105-531DF5E0_20250910_212105.png
  qr_codes/qr_MS-20250910212121-63350395_20250910_212121.png
  qr_codes/qr_MS-20250914134724-908048BB_20250914_134724.png
  qr_codes/qr_MS-20250914134851-3DC744C6_20250914_134851.png
  qr_codes/qr_MS-20250914142246-919B66AB_20250914_142246.png
  qr_codes/qr_MS-20250914155012-FD1CD616_20250914_155012.png
  qr_codes/qr_MS-20250914155408-3CEFEBB9_20250914_155408.png
Due: none

feat(workspace): Update performance testing configs and API structure
  .workspace/departments/testing/sections/performance-testing/configs/current-config.json
  .workspace/departments/testing/sections/performance-testing/docs/decision-log.md
  app/api/v1/__init__.py
Due: backend

feat(admin-system): Add complete admin user management and database reset system
  .env.twilio.example
  app/api/v1/endpoints/admin_users.py
  app/api/v1/endpoints/database_reset.py
  app/api/v1/endpoints/superuser_admin.py
  app/core/csrf_protection.py
  app/schemas/admin_users.py
  app/schemas/superuser_admin.py
  app/services/database_reset_service.py
  app/services/smtp_email_service.py
  app/services/superuser_service.py
  docs/DATABASE_RESET_SYSTEM.md
  frontend/src/components/AdminRedirect.tsx
  scripts/reset_database.py
  scripts/setup_real_superuser.py
  scripts/twilio_setup.py
  tests/services/test_database_reset_service.py
Due: backend, frontend

docs(guides): Add comprehensive setup and maintenance documentation
  DATABASE_RESET_QUICK_START.md
  MAINTENANCE_STRATEGY_RECOMMENDATIONS.md
  SMS_GATEWAY_IMPLEMENTATION_SUMMARY.md
  SMS_GATEWAY_SETUP_GUIDE.md
  TWILIO_SETUP_GUIDE.md
Due: none

feat(workspace): Enhance department organization and agent coordination system
  .workspace/command-center/agent-recruiter/CLAUDE_CODE_GAP_RESOLUTION.md
  .workspace/decisions/agent_report_system-architect-ai_REQ_20250926_011325_1893.md
  .workspace/decisions/agent_report_system-architect-ai_REQ_20250926_011532_0228.md
  .workspace/decisions/agent_report_system-architect-ai_REQ_20250926_014516_8236.md
  .workspace/decisions/agent_report_system-architect-ai_REQ_20250926_014546_4058.md
  .workspace/decisions/evaluation_REQ_20250926_011325_1893.json
  .workspace/decisions/evaluation_REQ_20250926_011532_0228.json
  .workspace/decisions/evaluation_REQ_20250926_014516_8236.json
  .workspace/decisions/evaluation_REQ_20250926_014546_4058.json
  .workspace/departments/architecture/department_dashboard.json
  .workspace/departments/frontend/agents/frontend-security/documentation/csrf-test-resolution.md
  .workspace/departments/frontend/agents/frontend-security/profile.json
  .workspace/departments/testing/sections/e2e-testing/reports/production_readiness_certification.json
  .workspace/departments/testing/sections/e2e-testing/reports/production_readiness_summary.md
Due: none

docs(admin): Add superuser admin implementation documentation and agent notifications
  .workspace/departments/architecture/system-architect-ai/notifications/claude-code-request-claude-code-20250926-004707-6572.json
  .workspace/departments/architecture/system-architect-ai/notifications/claude-code-request-claude-code-20250926-004716-0608.json
  .workspace/departments/architecture/system-architect-ai/notifications/claude-code-request-claude-code-20250926-005443-7473.json
  .workspace/departments/backend/security-backend-ai/notifications/claude-code-request-claude-code-20250926-005527-4557.json
  SUPERUSER_ADMIN_IMPLEMENTATION.md
Due: none

feat(navigation): Implement enterprise navigation system components (GREEN PHASE)
  frontend/src/components/admin/navigation/AccessibilityConfig.ts
  frontend/src/components/admin/navigation/AdminSidebar.tsx
  frontend/src/components/admin/navigation/CategoryNavigation.tsx
  frontend/src/components/admin/navigation/IMPLEMENTATION_ROADMAP.md
  frontend/src/components/admin/navigation/NavigationCategory.tsx
  frontend/src/components/admin/navigation/NavigationConfig.ts
  frontend/src/components/admin/navigation/NavigationDemo.tsx
  frontend/src/components/admin/navigation/NavigationItem.tsx
  frontend/src/components/admin/navigation/NavigationProvider.tsx
  frontend/src/components/admin/navigation/NavigationTypes.ts
  frontend/src/components/admin/navigation/README.md
  frontend/src/components/admin/navigation/__tests__/AdminSidebar.test.tsx
  frontend/src/components/admin/navigation/__tests__/CategoryNavigation.test.tsx
  frontend/src/components/admin/navigation/__tests__/NavigationCategory.test.tsx
  frontend/src/components/admin/navigation/__tests__/NavigationItem.test.tsx
  frontend/src/components/admin/navigation/__tests__/NavigationProvider.test.tsx
  frontend/src/components/admin/navigation/__tests__/integration/AccessibilityCompliance.test.tsx
  frontend/src/components/admin/navigation/__tests__/integration/NavigationFlow.test.tsx
  frontend/src/components/admin/navigation/index.ts
Due: frontend

fix(navigation): Resolve critical NavigationProvider hooks violations and restore admin portal access
  .workspace/departments/frontend/agents/frontend-security/documentation/admin-portal-restoration-report.md
  .workspace/departments/frontend/agents/frontend-security/documentation/critical-fix-2025-09-27.md
  CLAUDE.md
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/AdminLayout.tsx
  frontend/src/components/admin/navigation/AdminSidebar.tsx
  frontend/src/components/admin/navigation/CategoryNavigation.tsx
  frontend/src/components/admin/navigation/NavigationProvider.tsx
  frontend/src/components/auth/AdminLoginForm.tsx
  frontend/src/pages/AdminLogin.tsx
  frontend/src/pages/AdminPortal.tsx
  frontend/src/pages/admin/AdminDashboard.tsx
  frontend/src/services/authService.ts
  scripts/dev.sh
  scripts/project_manager.sh
  scripts/project_manager_v2.sh
Due: frontend

feat(admin): Add Edit button and console.log tracking to UserManagement actions
  frontend/src/pages/admin/UserManagement.tsx
Due: frontend

fix(security): Resolve 403 Forbidden error in superuser admin user creation endpoint
  app/api/v1/endpoints/superuser_admin.py
  app/core/rate_limiting.py
Due: backend

feat(admin): Complete User Create Modal functionality with comprehensive CORS and security fixes
  .env.example
  .env.production
  .workspace/checklists/USER_MANAGEMENT_IMPLEMENTATION.md
  .workspace/critical_issues/AGENT_NOTIFICATIONS.md
  .workspace/critical_issues/CORS_X_CSRF_TOKEN_ISSUE.md
  .workspace/critical_issues/PREVENTION_ALERT.md
  .workspace/critical_issues/SUMMARY_REPORT.md
  .workspace/critical_knowledge/USER_MANAGEMENT_AGENTS_MUST_KNOW.md
  .workspace/error_patterns/USER_MANAGEMENT_ERRORS.md
  .workspace/standards/CORS_CONFIGURATION_STANDARDS.md
  .workspace/standards/USER_MANAGEMENT_CONFIG_STANDARDS.md
  .workspace/troubleshooting/USER_MANAGEMENT_COMPLETE_GUIDE.md
  INTEGRATION_TESTING_REPORT.md
  USER_CREATE_MODAL_VALIDATION_REPORT.md
  app/api/v1/endpoints/auth.py
  app/core/config.py
  app/core/logging.py
  app/database/__init__.py
  app/services/superuser_service.py
  frontend/src/pages/admin/UserManagement.tsx
  frontend/src/services/superuserService.ts
  integration_test_report_20250928_184109.json
  manual_testing_checklist.html
  test_user_create_modal.html
  user_create_modal_validation_1759082427.json
  user_create_modal_validation_1759082454.json
  validate_user_create_modal.py
Due: backend, frontend

fix(admin): Critical User Management system fixes for soft delete and pagination
  app/api/v1/endpoints/superuser_admin.py
  app/services/superuser_service.py
  frontend/src/pages/admin/UserManagement.tsx
Due: backend, frontend

feat(admin): Complete UserDetailsModal implementation with 3-tab interface
  frontend/src/components/admin/UserDetailsModal.tsx
  frontend/src/pages/admin/UserManagement.tsx
  frontend/src/services/superuserService.ts
Due: frontend

fix(admin): Corregir mapeo de campos en estadísticas de UserManagement
  frontend/src/pages/admin/UserManagement.tsx
Due: frontend

fix(admin): Fix user statistics consistency and implement real-time data
  app/api/v1/endpoints/superuser_admin.py
  frontend/src/pages/admin/UserManagement.tsx
  frontend/src/services/superuserService.ts
Due: backend, frontend

feat(admin): Implement comprehensive UserFilters with advanced search capabilities
  frontend/src/components/admin/UserFilters.tsx
  frontend/src/pages/admin/UserManagement.tsx
Due: frontend

feat(admin): Implement complete deleted user management system
  app/api/v1/endpoints/superuser_admin.py
  app/core/logging.py
  frontend/src/pages/admin/UserManagement.tsx
Due: backend, frontend

fix(ui): Fix product form UX issues - progress bar, input visibility, PWA cache
  frontend/src/components/AddProductModal.tsx
  frontend/src/components/admin/common/types.ts
  frontend/src/components/admin/common/utils.ts
  frontend/src/components/auth/GoogleSignInButton.tsx
  frontend/src/components/dashboard/VendorDashboard.tsx
  frontend/src/components/forms/FormField.tsx
  frontend/src/components/forms/NumberField.tsx
  frontend/src/components/forms/ProductForm.tsx
  frontend/src/components/forms/SelectField.tsx
  frontend/src/components/forms/TextAreaField.tsx
  frontend/src/hooks/useVendorMetrics.ts
  frontend/src/index.css
  frontend/src/pages/Login.tsx
  frontend/src/pages/RegisterVendor.tsx
  frontend/src/pages/admin/UserManagement.tsx
  frontend/src/schemas/productSchema.ts
  frontend/src/services/apiClient.ts
  frontend/vite.config.ts
Due: frontend
